@import "src/@fuse/scss/fuse";

.reportsview {

  //font-family: Poppins;
  .input {

    background-color: #fcfcfe !important;

  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(215, 215, 215) !important;
    background-color: white !important;
    // background-color: #c9c3d8;
  }

  input.mat-input-element {
    margin-top: 4px !important;
    font-size: 12px !important;
  }

  .mat-select {
    display: inline-block;
    width: 100%;
    padding: 10px 6px;
    outline: 0;
    border: 1px solid #c7c7c7;
    border-radius: 5px
  }

  .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid;
    margin: 0 6px;
  }

  input.mat-input-element {
    color: black;
    // background-color: #c9c3d8;
  }

  .headerbackgrnd {
    background-image: url('^/assets/images/header_img.png') !important;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 0px;
    height: 0px;
    position: fixed !important;
    z-index: 100;
    width: 100%;
  }

  background-color: white !important;
  padding-bottom: 50px;

  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }

  .center {
    padding: 5px !important;
    background: white;
  }

  .attachmentfiles {
    position: relative;
    /* right: 91px; */
    top: 7px;

  }

  .OCR {
    position: relative;
    /* right: 91px; */
    bottom: 5px;
    font-size: 12px;
    color: #00499c;
  }

  .pan {
    position: relative;
    right: 91px;
    margin-top: -38px;
    top: 15px;
  }

  .imagenamedisplay {
    position: relative;
    top: 13px;
  }


  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
  }

  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .semiBoldClass {
    font-weight: 500;
  }

  .subTitle {
    @extend .semiBoldClass;
    font-size: 14px;
    text-decoration: var(--textDec);
  }

  .title {
    text-align: center;
    //font: normal normal 500 22px/26px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 40%;
    padding-left: 40%;
    font-size: 18px;
    font-weight: 500;

  }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }


  .whiteBg {
    background-color: white !important;
  }

  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }

  .background {
    background-color: white;
  }

  .personal {
    color: #1055A0;
    padding-top: 3%;
    // padding-left: 17%;
    font-size: 23px;
    position: fixed;
  }

  // .information {
  //  color: #1055A0;
  //   padding-top: 5%;
  //   // padding-left: 19%;
  //   font-size: 23px;
  //   position: fixed;
  //   padding-left: 24px;
  // }

  .image {

    width: 18%;
    position: fixed;
    padding-top: 8%;
    padding-left: 2%;
  }

  .mins {
    font-size: 25px;
    font-weight: bolder;
    position: fixed;
    margin-left: -6%;
    margin-top: 25%;
  }


  // input.mat-input-element {
  //  // color: white;
  //   // background-color: #c9c3d8;
  // }
  .aa {
    border-width: 0px !important;
    // border: none !important;
    // outline: none !important;
  }

  .inputdivision {
    //background-color: #f4f4f4;
    height: 32px;
    // border-radius: 4px;
    width: 600px;
    height: 36px;
    /* UI Properties */
    background: #F4F4FB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  .inputdivision1 {
    //background-color: #f4f4f4;
    height: 32px;
    // border-radius: 4px;
    // width: 225px;
    height: 36px;
    /* UI Properties */
    background: #F4F4FB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }

  // .inputform {
  //   color: #00061C !important;
  //   font-size: 13px !important;
  //   height: 36px;
  //   padding: 0 12px !important;
  //   line-height: 3;
  //   border: none;
  //   background: #f1f1f5 !important;
  // }

  // .inputform1 {
  //   color: #00061C !important;
  //   font-size: 13px !important;
  //   height: 36px;
  //   padding: 0 12px !important;
  //   line-height: 3;
  //   border: none;
  //   background: #f1f1f5 !important;
  // }

  // .inputform2 {
  //   color: #00061C !important;
  //   font-size: 13px !important;
  //   height: 36px;
  //   padding: 0 12px !important;
  //   line-height: 3;
  //   border: none;
  //   background: #f1f1f5 !important;
  // }

  // .inputform:focus {
  //   outline: none;
  // }

  // .inputform::placeholder {
  //   font-size: 13px !important;
  //   color: #acacac !important;
  // }

  // ::ng-deep .mat-form-field-label-wrapper {
  //   top: -1.5em;
  // }
  // ::ng-deep .read-only-true .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start {
  //   border: 1px solid white !important;
  // }
  // ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //   transform: translateY(-1.1em) scale(.75);
  //   width: 133.33333%;
  // }

  .market {
    color: #1434AA;
    padding-top: 3%;
    font-size: 23px;
    position: fixed;
    margin-right: 69px;
    font-weight: 500;
  }

  .information {
    color: #1434AA;
    font-size: 23px;
    position: fixed;
    margin-right: 39px;
    font-weight: 500;
    padding-top: 5%;
  }


  .image {

    width: 13%;
    position: fixed;
    padding-top: 9%;
    padding-left: 2%;

  }

  .mins {
    font-size: 23px;
    margin-right: -40px;
    font-weight: 500;
    position: fixed;
    margin-right: -1%;

    /* margin-left: -39px; */
    margin-top: 22%;
  }

  .avg {
    font-size: 16px;
    position: fixed;
    opacity: 0.6;
    margin-top: 24.5%;
    margin-left: 47px;
    color: grey;
  }

  .progress {
    width: 16%;
    position: fixed;
    margin-top: 21%;
    margin-left: 7%;
  }

  .percent {
    padding: 1%;
    position: fixed;
    font-size: 16px;
    margin-top: 21.5%;
    margin-right: -1%;

    color: #90B645;
    opacity: 1;

  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #90b645 !important;
  }


  .jkc {

    //height: 48px;
    width: 12%;
    position: fixed;
    margin-left: 1%;
    padding-top: 25%;
  }

  .marketsp {
    font-size: 13px;
    font-weight: 500 !important;
    //font: normal normal 600 16px/19px Poppins !important;
    letter-spacing: 0px;
    color: #00061C !important;
    opacity: 1;
    // margin-top: 10px;
  }

  .marketinfo {
    padding: 0%;
    font-size: 14px;
    margin-top: 25px;
    width: 100%;
  }

  // ::ng-deep .mat-progress-bar-fill::after {
  //   background-color: #1E457C;
  // }
  .populationclass {
    padding: 0%;
    font-size: 14px;
    // margin-top: 28px;
    width: 100%;
  }

  .populationclass1 {
    padding: 0%;
    font-size: 14px;
    // margin-top: 28px;
    width: 100%;
    position: relative;
    top: 21px;
  }

  .populationclass2 {
    padding: 0%;
    font-size: 14px;
    // margin-top: 28px;
    width: 100%;
    position: relative;
    top: 21px;
  }

  .gstclass {
    padding: 0%;
    font-size: 14px;
    // margin-top: 20px;
    width: 100%;
  }

  .errorn {
    font-size: 13px;
  }

  // .firmForm{
  //   border: 1px solid lightgray !important;
  //   padding: 8px;
  // }
  .cement {
    width: 132%;
    margin-top: 15px;
    // height: 10%;
    border: 1px solid lightgray;
  }

  table {
    width: 100% !important;
    padding: 8px;
    background-color: #cdccdc !important;
    border: 1px solid #CCC;
    border-collapse: collapse;

    th {
      font-size: 13px;
      text-align: center !important;
      color: #00061C;
      font-weight: 500;
      height: 35px;
    }

    td {
      border: none;
      font-size: 12px;
      text-align: center !important;
      font-weight: 400;
      height: 35px;
    }
  }

  tr.mat-row {
    height: 35px;
  }

  .header {
    font-weight: 600 !important;
  }


  .cell {
    font-weight: 100;
  }

  .uploadbtn {
    background-color: #00499c !important;
    color: white !important;
    text-align: center;
    font-size: 13px;
    ////////font-family: Arial, Helvetica, sans-serif;
    width: 115px;
    border-radius: 5px;
    // margin-top: 40px;
    margin-left: 55px;
  }

  .add1 {
    background-color: #dde6fb;
    //height: 363px !important;
    margin-left: 12px !important;
    margin-top: 37px !important;
    border-radius: 6px !important;
    font-size: 33px;
    font-weight: normal;
    color: #055ecb;
  }

  .boxline {
    font-size: 14px;
    font-weight: bolder;
  }

  .add2 {
    width: 89%;
    margin-top: 10px !important;
    background-color: #dfe9ff;
    height: 40px !important;
    margin-left: 0px !important;
    border-radius: 6px !important;
    font-size: 33px;
    font-weight: normal;
    color: #00499c;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0em 0 !important;
  }

  .mat-button,
  .mat-flat-button,
  .mat-icon-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 44px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 2px;
    overflow: visible;
  }

  .previousimg {
    width: 13%;
    cursor: pointer;
    margin-bottom: 2px;

  }

  .previousimg:hover {
    color: #00061C;
  }

  .previous {
    margin-top: 35px;
    font-size: 16px;
    cursor: pointer;
    background-color: white !important;
    color: #8e8f92 !important;
    margin-left: 42px;
  }

  .previous:hover {
    color: #1434AA !important;
    // background-color: #00061C !important;
  }

  .next {
    margin-top: 35px;
    font-size: 17px;
    cursor: pointer;
    background-color: white !important;
    color: #8e8f92 !important;
    margin-left: 30px;
  }

  .next:hover {
    color: #1434AA !important;
    // background-color: #00061C !important;
  }

  .nextimg {
    // margin-top: 36px;
    width: 18%;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .clear {
    margin-top: 35px;
    font-size: 13px;
    cursor: pointer;
    background-color: white !important;
    color: #8e8f92 !important;
    // margin-left: 35px;
  }

  .clear:hover {
    color: #1434AA !important;
    // background-color: #00061C !important;
  }

  .draft {
    margin-top: 35px;
    font-size: 13px;
    cursor: pointer;
    background-color: white !important;
    color: #8e8f92 !important;
    margin-left: -27px;
  }

  .draft:hover {
    color: #1434AA !important;
    // background-color: #00061C !important;
  }

  .clearimg {
    // margin-top: 36px;
    width: 24%;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .draftimg {
    // margin-top: 36px;
    width: 16%;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .headerbackgrnd {
    background-image: url('^/assets/images/header_img.png') !important;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 0px;
    height: 0px;
    position: fixed !important;
    z-index: 100;
    width: 100%;
  }

  .header-div {
    height: 2px;
    align-items: center;
  }

  // .headerbackgrnd {
  //   position: fixed !important;
  //   width: 100%;
  //   height: 50px;
  //   box-shadow: none;
  //   .header-div{
  //     .title {
  //       text-align: center;
  //       color: #00061C;
  //       font-size: 14px;
  //       font-weight: 500;
  //     } 
  //     .dividerclass{
  //       height: 20px;
  //       color: black;
  //       width: 20px;
  //     }
  //     .customer_mail {
  //       color: #acacac !important;
  //       font-size: 16px;
  //       font-weight: 500;
  //     }
  //   }
  // }

  .savebtn {
    margin-top: 29px;
    width: 16%;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 14px;
    font-size: 14px;
    background-color: #1434AA !important;
    color: white !important;
  }

  .savebtn:hover {
    background-color: #90B645 !important;
    // background-color: #00061C !important;
  }

  // .card_css {
  //   margin-left: 30px;
  //   margin-top: 18px;
  //   height: 2px;
  //   border: 1px solid #E4E0F3;
  //   border-radius: 4px;
  //   opacity: 1;
  //   box-shadow: none !important;
  //   width: 80% !important;
  // }
  .default-btn {
    border: 1px solid #c5c6cb;
    min-width: 49px !important;
    line-height: 33px !important;
    padding: 0 40px !important;
  }

  .change-btn {
    background-color: #e9e9e9 !important;
    color: #1434AA !important;
    border: 1px solid #e9e9e9 !important;
    min-width: 49px !important;
    line-height: 33px !important;
    padding: 0 40px !important;
  }

  // #1434AA
  //   .mat-stroked-button {
  //     box-sizing: border-box;
  //     position: relative;

  //     cursor: pointer;
  //     outline: 0;
  //     border: none;
  //     display: inline-block;
  //     white-space: nowrap;
  //     text-decoration: none;
  //     vertical-align: baseline;
  //     text-align: center;
  //     margin: 0;
  //     min-width: 49px !important;
  //     line-height: 33px !important;
  //     padding: 0 40px !important;
  //     border-radius: 2px;
  //     overflow: visible;
  // }

  .total_div {
    width: 100%;
    margin-top: 30px !important;

    .marketbutton {
      width: 14%;
      margin-top: 40px;
      position: fixed;
    }

    .businessbutton {
      width: 14%;
      margin-top: 80px;
      position: fixed;
    }

    .bankbutton {
      width: 14%;
      margin-top: 120px;
      position: fixed;
    }

    .inner_total_div {
      padding-top: 30px;
      width: 100%;

      .subheading {
        font-size: 20px;
        position: relative;
        left: 30px;
        top: 10px;
      }

      .sub_div1 {
        padding-left: 20px;
        width: 100%;

        .form_div {
          width: 100%;
          padding-left: 20px;

          .form_div_I {
            width: 100%;
            padding-left: 20px;

            // .populationclass {
            //   padding: 0%;
            //   font-size: 14px;
            //   margin-top: 20px;
            //   width: 100%;

            .marketsp {
              font-size: 12px;
              font-weight: 500 !important;
              color: #00061C !important;
            }

            .marketsp1 {
              font-size: 12px;
              font-weight: 500 !important;
              position: relative;
              padding-bottom: 42px;
              color: #00061C !important;
            }

            .marketsp2 {
              font-size: 12px;
              font-weight: 500 !important;
              position: relative;
              bottom: 35px;
              color: #00061C !important;
            }

            .marketsp3 {
              font-size: 12px;
              font-weight: 500 !important;
              position: relative;
              bottom: 54px;
              color: #00061C !important;
            }

            .inp_div {
              width: 100%;
              background-color: transparent !important;

              .inner-inp_div {
                width: 70%;
              }

              .name {
                font-size: 13px;
                margin-top: 20px;
                /* padding-top: 2%; */
                /* padding-left: 12%; */
                /* padding-right: 12%; */
                // border: none !important;
              }

              // .nameinput {
              //   // height: 25px;
              //   // border: none !important;
              // }

              .inputform2 {
                color: #00061C !important;
                font-size: 12px !important;
              }

              .inputform2::placeholder {
                font-size: 10px !important;
                color: #acacac !important;
              }

            }

            // }

            .sublabel {
              font-size: 12px;
              position: relative;
              bottom: 10px;
              color: #a6a7ad;
            }
          }

          .form_div_II {
            width: 100%;
            padding-left: 20px;

            .populationclass {
              padding: 0%;
              font-size: 14px;
              margin-top: 0px;
              width: 100%;

              // .marketsp {
              //   font-size: 12px;
              //   font-weight: 500 !important;
              //   color: #00061C !important;
              // }

              .inp_div {
                width: 100%;
                background-color: transparent !important;

                .inner-inp_div {
                  width: 70%;
                }

                .name {
                  //font-family: Arial, Helvetica, sans-serif;
                  font-size: 13px;
                  padding-top: 2%;
                  padding-left: 0%;
                  // padding-right: 12%;
                  // border: none !important;
                  // margin-top: 20%;

                }

                // .nameinput {
                //   // height: 25px;
                //   // border: none !important;
                // }

                .marketsp {
                  font-size: 12px;
                  font-weight: 500 !important;
                  color: #00061C !important;
                }

                .marketsp1 {
                  font-size: 12px;
                  font-weight: 500 !important;
                  position: relative !important;
                  // bottom: 15px !important;
                  color: #00061C !important;
                }

                .marketsp2 {
                  font-size: 12px;
                  font-weight: 500 !important;
                  position: relative !important;
                  // bottom: 35px !important;
                  color: #00061C !important;
                }

                .marketsp3 {
                  font-size: 12px;
                  font-weight: 500 !important;
                  position: relative !important;
                  // bottom: 31px !important;
                  color: #00061C !important;
                }

                .sublabel {
                  font-size: 12px;
                  position: relative;
                  // top: 10px;
                  color: #a6a7ad;
                  // bottom: 30px;
                }

                .inputform2 {
                  color: #00061C !important;
                  font-size: 12px !important;
                  background-color: white;
                  border: 1px solid #cfcfcf;
                  border-radius: 5px;
                  width: 75%;
                }

                .inputform {
                  color: #00061C !important;
                  font-size: 12px !important;
                }

                .inputform2::placeholder {
                  font-size: 10px !important;
                  color: #acacac !important;
                }

                .inputform::placeholder {
                  font-size: 10px !important;
                  color: #acacac !important;
                }

                .mat-select-value {
                  display: table-cell;
                  max-width: 0;
                  width: 93% !important;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }

          .form_div_III {
            width: 100%;
            padding-left: 20px;

            .populationclass {
              padding: 0%;
              font-size: 14px;
              // margin-top: 20px;
              width: 100%;

              .inputform1 {
                color: #00061C !important;
                font-size: 12px !important;
                background-color: white !important;
              }

              .inputform1::placeholder {
                font-size: 11px !important;
                color: #acacac !important;
              }

              .marketsp {
                font-size: 12px;
                font-weight: 500 !important;
                color: #00061C !important;
                position: relative;
              }

              .inp_div {
                width: 100%;
                background-color: transparent !important;

                .inner-inp_div {
                  width: 70%;
                }

                .name {
                  font-size: 13px;
                  // margin-top: 28px;
                  /* padding-top: 2%; */
                  /* padding-left: 12%; */
                  /* padding-right: 12%; */
                  // border: none !important;
                }

                .inputform2 {
                  color: #00061C !important;
                  font-size: 12px !important;
                }

                .inputform2::placeholder {
                  font-size: 10px !important;
                  color: #acacac !important;
                }
              }
            }
          }

          .form_div_IV {
            width: 100%;
            padding-left: 20px;

            .populationclass {
              padding: 0%;
              font-size: 14px;
              // margin-top: 20px;
              width: 100%;


              .marketsp {
                font-size: 12px;
                font-weight: 500 !important;
                color: #00061C !important;
                position: relative;
              }

              .inp_div {
                width: 100%;
                background-color: transparent !important;

                .inner-inp_div {
                  width: 70%;
                }

                .inputform2 {
                  color: #00061C !important;
                  font-size: 12px !important;
                }

                .inputform {
                  color: #00061C !important;
                  font-size: 12px !important;
                }

                .inputform2::placeholder {
                  font-size: 10px !important;
                  color: #acacac !important;
                }

                .inputform::placeholder {
                  font-size: 10px !important;
                  color: #acacac !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .label_connect .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 10px !important;
    font-family: 'poppins' !important;
    color: #596069 !important;
    line-height: 3.5;
    width: 100% !important;
  }

  .forminputedit {
    color: #0d0c22 !important;
    font-size: 10px !important;
    font-family: 'Poppins-SemiBold' !important;
  }

  .footer_div {
    width: 100% !important;
    height: 60px;
    padding: 10px;
    margin-top: 10px;

    .reject_btn {
      width: 15%;
      height: 100%;
      // border: #EF2929 1px solid;
      border-radius: 4px;
      color: #EF2929;
      font-size: 12px !important;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      right: 20px;
    }

    .approve_btn {
      width: 15%;
      height: 100%;
      border-radius: 4px;
      color: #e3ecd0;
      background-color: #90b645;
      font-size: 12px !important;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      right: 20px;
    }

  }

  .mat-flat-button.mat-primary,
  body.theme-default .mat-raised-button.mat-primary,
  body.theme-default .mat-fab.mat-primary,
  body.theme-default .mat-mini-fab.mat-primary {
    background-color: #90b645 !important;
  }

  .contact-div {
    width: 96%;
    position: relative;
    // top: 32px;
    left: 16px;
    border: 1px solid #E4E0F3;
    border-radius: 8px;
    // .mat-card:not([class*=mat-elevation-z]) {
    //   box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    // }

    // .mat-card {
    //   transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    //   display: block;
    //   position: relative;
    //   padding: 24px;
    //   border-radius: 2px;
    // }
    .mat-card {
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
      display: block;
      position: relative;
      padding: 5px;
      border-radius: 2px;
    }

    .sub_div1 {
      padding-left: 20px;
      width: 100%;
    }

    .form_div {
      width: 100%;
      padding-left: 20px;
    }

    .populationclass {
      padding: 0%;
      font-size: 14px;
      margin-top: 20px;
      width: 100%;

      .inp_div {
        width: 100%;
        background-color: transparent !important;

        // .inner-inp_div {
        //   width: 70%;
        // }
        .inner-inp_div {
          width: 70%;
        }

        .marketspc {
          font-size: 12px;
          font-weight: 500 !important;
          color: #00061C !important;
          position: relative;
          top: 8px;
          // bottom: 13px;
          // right: 18px;
        }

        .marketspc1 {
          font-size: 12px;
          font-weight: 500 !important;
          color: #00061C !important;
          position: relative;
          top: 15px;
          // bottom: 13px;
          // right: 18px;
        }

        .marketspc2 {
          font-size: 12px;
          font-weight: 500 !important;
          color: #00061C !important;
          position: relative;
          // bottom: 13px;
          // right: 18px;
        }

        .marketspc3 {
          font-size: 12px;
          font-weight: 500 !important;
          color: #00061C !important;
          position: relative;
          bottom: 13px;
          // right: 18px;
        }

        .marketsp1 {
          font-size: 12px;
          font-weight: 500 !important;
          position: relative;
          // bottom: 15px;
          color: #00061C !important;
          position: relative;
          top: 22px;
        }

        .marketsp2 {
          font-size: 12px;
          font-weight: 500 !important;
          position: relative;
          // bottom: 15px;
          color: #00061C !important;
          position: relative;
          top: 9px;
        }

        .marketsp3 {
          font-size: 12px;
          font-weight: 500 !important;
          position: relative;
          // bottom: 15px;
          color: #00061C !important;
          position: relative;
          // top: 9px;
        }


        .inputform2 {
          color: #00061C !important;
          font-size: 12px !important;
          position: relative;
          // bottom: 13px;
          left: 19px;
          margin-top: 10px; // top: 5px;
          width: 79%;

        }

        .inputform {
          color: #00061C !important;
          font-size: 12px !important;
          position: relative;
          bottom: 34px;
          left: 13px;
          margin-top: 10px;
        }

        .inputform2::placeholder {
          font-size: 10px !important;
          color: #acacac !important;
        }

        .inputform::placeholder {
          font-size: 10px !important;
          color: #acacac !important;
        }

        .mat-select-value {
          display: table-cell;
          max-width: 0;
          width: 88% !important;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }
    }
  }

  // .contact_heading {
  //   font-size: 12px !important;
  //   font-weight: 500;
  //   color: #00061C !important;
  // }

  // .table_div {
  //   font-size: 12px;
  //   font-weight: 500;
  //   height: 100%;
  //   overflow: auto;

  //   .table-css {
  //     width: 100%;
  //     height: 100%;
  //     border: #acacac 0.4px solid;
  //     border-top-left-radius: 4px;
  //     border-top-right-radius: 4px;

  //     .header-row-css {
  //       background-color: white !important;
  //     }

  //     .row-table {
  //       overflow: scroll;
  //       font-size: 10px;
  //       color: #C9C9C966;
  //     }

  //     .header_table-class {
  //       color: black;
  //       font-size: 12px !important;
  //       font-weight: 500;
  //       border: #acacac 0.4px solid;
  //     }

  //     .table_data {
  //       border: #acacac 0.4px solid;
  //       font-size: 10px;
  //       color: #ACACAC;
  //       font-weight: 500;
  //       background-color: white !important;
  //     }

  //     .tble_btn {
  //       color: #1055A0;
  //       background: transparent;
  //       font-size: 10px;
  //       font-weight: 500;
  //     }
  //   }
  // }


  // background-color: #cdccdc !important;
  //   border: 1px solid #CCC;
  //   border-collapse: collapse;
}

.Bank-div {
  margin-top: 20px;
  //padding: 20px 20px 20px 40px;
  width: 100%;

  .contact_heading {
    font-size: 12px !important;
    font-weight: 500;
    color: #00061C !important;
  }

  .table_div {
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    overflow: auto;

    .table-css {
      width: 100%;
      height: 100%;
      border: #acacac 0.4px solid;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .header-row-css {
        background-color: #cdccdc !important;
      }

      .row-table {
        overflow: scroll;
        font-size: 10px;
        color: #C9C9C966;
      }

      .header_table-class {
        color: black;
        font-size: 12px !important;
        font-weight: 500;
        border: #acacac 0.4px solid;
      }

      .table_data {
        border: #acacac 0.4px solid;
        font-size: 10px;
        color: #ACACAC;
        font-weight: 500;
        background-color: white !important;
      }

      .tble_btn {
        color: #1055A0;
        background: transparent;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}

.average_sales {
  margin-top: 20px;
  padding: 20px 20px 20px 40px;
  width: 100%;

  .contact_heading {
    font-size: 12px !important;
    font-weight: 500;
    color: #00061C !important;
  }

  .table_div {
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    overflow: auto;

    .table-css {
      width: 100%;
      height: 100%;
      border: #acacac 0.4px solid;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;

      .header-row-css {
        background-color: #cdccdc !important;
      }

      .row-table {
        overflow: scroll;
        font-size: 10px;
        color: #C9C9C966;
      }

      .header_table-class {
        color: black;
        font-size: 12px !important;
        font-weight: 500;
        border: #acacac 0.4px solid;
      }

      tr.mat-header-row {
        height: 35px;
      }

      .table_data {
        border: #acacac 0.4px solid;
        font-size: 10px;
        color: #ACACAC;
        font-weight: 500;
        background-color: white !important;
      }

      .tble_btn {
        color: #1055A0;
        background: transparent;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}