<div fxLayout="column" fxFlex style="background-color:white !important;">
  <mat-card class="headerbackgrnd">
    <div fxLayout>
      <div fxFlex fxLayoutAlign="start center" style="height: 2px">
        <img src="../../assets/images/exalca_white_logo.png" style="width: 5%;height:15px;">
        <p class="title">Customer Portal</p>
      </div>
    </div>
  </mat-card>
  <mat-divider style="width:100%;"></mat-divider>
  <div fxFlex>
    <div fxFlex="20">

    </div>
    <div fxLayout="column" fxFlex="80" fxLayoutAlign="center start">
      <div fxLayout="row" fxFlex>
        <form [formGroup]="PIform" style="margin-top: 38px;">
          <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Type of Category</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select the type of Category" formControlName="category"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Type of Product</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select the type of Product" formControlName="product"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Name of the Firm</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter Firm Name" formControlName="Name" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Address</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter Address" formControlName="Address" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Pincode</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter Pincode" formControlName="Pincode" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Status of the Firm</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select one Firm" formControlName="Status" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Status of the Firm</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select one Firm" formControlName="Status" class="inputform2">
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Geo-Location</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Latitude" formControlName="latitude" class="inputform">
                  <input fxFlex matInput placeholder="Longitude" formControlName="longitude" class="inputform">
                </div>

              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">State</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select the State" formControlName="State" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">District</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="District" formControlName="District" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">City</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select the City" formControlName="City" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Taluka</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter Taluka" formControlName="Taluka" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Tehsil</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter Tehsil" formControlName="Tehsil" class="inputform2">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div fxLayout="row" fxFlex style="margin-top: 2%;
      margin-left: 5%;">
        <mat-card>
          <table>
            <thead>
              <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Email Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of IdentityData even as isEven"
                    [ngStyle]="{ background: isEven ? 'white' : '#f1f1f5'}">
                    <td><span>{{item?.FirmName}}</span></td>
                    <td><span>{{item?.Name}}</span></td>
                    <td><span>{{item?.MobileNo}}</span></td>
                    <td><span>{{item?.EmailId}}</span></td>
                  </tr>
            </tbody>
          </table>
        </mat-card>
     
      </div>
  
      <mat-divider style="width:100%;margin-left: 5%;margin-top: 2%;"></mat-divider>

      <div fxLayout="row" fxFlex>
        <form [formGroup]="MIform" style="margin-top: 38px;">
          <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Name of Market</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Name of Market" formControlName="market"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Population of Market</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Population of  Market" formControlName="Population"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Market Potential of the area (in MT) *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Market Potential of the area (in MT)" formControlName="Potential" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">No of Existing Stockist in the Market</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="No of Existing Stockist in the Market" formControlName="Stockist" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Distance of Nearest JK Stockist</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Distance of Nearest JK Stockist" formControlName="Distance" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Status of the Firm</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Select one Firm" formControlName="Status" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Name of Nearest JK Stockist</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Name of Nearest JK Stockist" formControlName="NameOfNearest" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
            style="margin-top: 5%;">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Select the Party Background</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
              <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                <input fxFlex matInput placeholder="Select the Party Background" formControlName="PartyBackground" class="inputform2">
              </div>
            </div>
          </div>
          </div>
          <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Year of Establishment *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Year of Establishment" formControlName="YearOfEstablished" class="inputform">
                </div>

              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Areas that Stockist will serve</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Areas that Stockist will serve" formControlName="AreasStockist" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Total Potential of the Party (In MT) *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Total Potential of the Party (In MT)" formControlName="TotalPotential" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Expected JK Avg.Monthly Sale (In MT) *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Expected JK Avg.Monthly Sale (In MT)" formControlName="JKAvg" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Pan No.of Business *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Pan No.of Business" formControlName="Pan" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Gst No.of Business *</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Gst No.of Business" formControlName="Gst" class="inputform2">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div fxLayout="row" fxFlex style="margin-top: 2%;
      margin-left: 5%;">
           <mat-card class="cement" >
               
                
            <div fxLayout="row">
             
             
              <table>
                <thead>
                  <tr>
                    <th>If Selling White Cement/Wall Putty </th>
                    <th>WP Avg/Month Sales (In Mt)</th>
                    <th>WC Avg/Month sales (In MT)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let item of listData even as isEven"
                  [ngStyle]="{ background: isEven ? 'white' : '#f1f1f5'}">
                <td><span>{{item?.brand}}</span></td>
                <td><span>{{item?.wpMonth}}</span></td>
                <td><span>{{item?.wcMonth}}</span></td>
               
              </tr>
                </tbody>
              </table>
            </div>
        

            
          
           
          
          </mat-card>
     
      </div>

      <mat-divider style="width:100%;margin-left: 5%;margin-top: 2%;"></mat-divider>
      <div fxLayout="row" fxFlex>
        <form [formGroup]="MIform" style="margin-top: 38px;">
          <div fxLayout="column">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="42" class="marketsp">Total Turn Over of 3 years*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="38">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="FY 21-22" formControlName="NoOfYears"
                    class="inputform2">
                </div>
                <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                  <input autocomplete="off" placeholder="FY 20-21" formControlName="Retailers" class="inputform1 "
                   required>
                </div>
                <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                  <input autocomplete="off" placeholder="FY 19-20" formControlName="NoOfYears" class="inputform1 "
                   required>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Total Storage Capacity*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter the capacity" formControlName="storagecapacity"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Working Capital to be Invested*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter the working captial" formControlName="capitalinvest" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">No of Vehicle Owned with Capacity*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter No.of.Vehicle owned" formControlName="vehicle" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Wholesale</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter No.of.Vehicle owned" formControlName="vehicle" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Retail</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter sales in retail" formControlName="retail" class="inputform2">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div fxLayout="row" fxFlex  style="margin-top: 2%;
      margin-left: 5%;">
        <mat-card class="cement" >
        <table mat-table [dataSource]="dataSource">
         
        
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element" contenteditable="true"> {{element[column]}} </td>
          </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
        </mat-card>

       
      </div>
      <div fxLayout="row" fxFlex>
        <form [formGroup]="BIform1" style="margin-top: 38px;">
          <div fxLayout="column">
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center">
              <div fxFlex="10"></div>
              <span fxFlex="42" class="marketsp">Total Turn Over of 3 years*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="38">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="FY 21-22" formControlName="NoOfYears"
                    class="inputform2">
                </div>
                <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                  <input autocomplete="off" placeholder="FY 20-21" formControlName="Retailers" class="inputform1 "
                   required>
                </div>
                <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                  <input autocomplete="off" placeholder="FY 19-20" formControlName="NoOfYears" class="inputform1 "
                   required>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Total Storage Capacity*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter the capacity" formControlName="storagecapacity"
                    class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Working Capital to be Invested*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter the working captial" formControlName="capitalinvest" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">No of Vehicle Owned with Capacity*</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter No.of.Vehicle owned" formControlName="vehicle" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Wholesale</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter No.of.Vehicle owned" formControlName="vehicle" class="inputform2">
                </div>
              </div>
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="space-between center"
              style="margin-top: 5%;">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Retail</span>
              <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
                <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                  <input fxFlex matInput placeholder="Enter sales in retail" formControlName="retail" class="inputform2">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>