.cancelbtn{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 18px;
    border-color: #803f3f;
    margin-left:70px;
    margin-top: 24px;
    width: 140px;
    background-color: blue !important;
}
.msg{
    width: 116%;
    margin-top: 10%;
    margin-left: 12px;
    font-size: 18px;
}