<div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" fxLayoutGap="3px">
  <img class="sucessimg" src="../../assets/images/succes_img.svg" fxFlex="40">
  <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
    <h1 mat-dialog-title class="msg">Application Processes successfully</h1>

    <div fxLayout="row">

      <button mat-raised-button mat-dialog-close class="cancelbtn" (click)="Okbtn()">Ok

      </button>
    </div>
  </div>
  <img class="closebtn" src="../../assets/images/close.svg" fxFlex="2" (click)="closebtn()">
</div>