<div class="sidenav-header">
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-16" svgIcon="searchIcon"></mat-icon>
                    <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <button mat-mini-fab class="mr-8 btnBg" matTooltip="Add User" (click)="clearUser()">
                    <mat-icon aria-label="Add User" svgIcon="addIcon"></mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="sidenav-content py-16" fusePerfectScrollbar fxFlex>
    <div *ngFor="let usr of AllUsers | filter: searchText">
        <div [attr.aria-label]="usr.UserName">
            <div fxLayout="row" fxLayoutAlign="start center" class="side-bar-items" matRipple
                (click)="loadSelectedUser(usr)" [ngClass]="{'active accent2':selectID==usr.UserID}">
                <!-- <div fxFlex="30%" fxLayoutAlign="start center">
                            {{ap.Doc_Type_ID}}
                        </div> -->
                <div fxFlex="70%" fxLayoutAlign="start center">
                    {{usr.UserName}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(AllUsers | filter: searchText).length === 0" class="no-results-message">
        <span class="pl-12"> No results..</span>
    </div>
    <!-- <div *fuseIfOnDom [@animateStagger]="{value:'50'}">
        <div class="chat-list" fxLayout="column">
            <button mat-button class="contact" *ngFor="let usr of AllUsers | filter: searchText"
                (click)="loadSelectedUser(usr)" ngClass="{'unread':contact.unread}"
                [@animate]="{value:'*',params:{y:'100%'}}"
                [style.background-color]="selectID==usr.UserID?'lightgrey':'white'">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="row" fxFlex>
                        <div class="" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{usr.UserName}}</div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center end">
                            <div class="contact-last-message-time">
                                {{usr.CreatedOn | date}}
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div *ngIf="(AllUsers | filter: searchText).length === 0" class="no-results-message">
            No results..
        </div>
    </div> -->
</div>