<div id="dashboard" class="page-layout carded">
  <!-- <div class="center" fxLayout="column" fxLayoutGap="10px"> -->

  <mat-card class="headerbackgrnd">
    <div fxLayout>
      <div fxFlex fxLayoutAlign="start center" style="height: 2px">
        <img src="../../assets/images/exalca_white_logo.png" style="width: 5%;height:15px;">
        <p class="title">Customer Portal</p>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row" fxFlex="100" style="background: white !important;">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex="20" style="margin-top:45px">
      <div class="market">Personal </div>
      <div class="information">Information</div>
      <img class="image" src="../../assets/images/pi_img.svg">
      <!-- <div class="mins">2 mins</div>
        <div class="avg">Average Time to Complete</div> -->
      <!-- <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
      <div class="percent">96% Almost done!</div> -->
      <img class="jkc" src="../../assets/images/jkc_logo.svg">
    </div>
    <div fxFlex="10"> </div>
    <div fxFlex="70">
      <form [formGroup]="PIform" style="margin-top: 38px;">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div fxLayout="row" fxLayoutAlign="" class="marketinfo" fxFlex="100">
            <div fxFlex="10"></div>
            <span class="marketsp" fxFlex="30">Type of Category
              <!-- <br>
              <p> (Option to select only one)</p> -->

            </span>


            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">

              <mat-select placeholder="Select the type of Category" formControlName="category" class="inputform2 ">
                <mat-option *ngFor="let category of categorylist" [value]="category">{{category}}</mat-option>
              </mat-select>
              <mat-error class="errorn"
                *ngIf="PIform?.get('category')?.touched && PIform?.get('category')?.hasError('required')">Category
                is
                required
              </mat-error>


            </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span class="marketsp" fxFlex="30">Type of Product
              <!-- <br>
              <p> (Option to select multiple)</p> -->

            </span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <mat-select placeholder="Select the type of Product" formControlName="product" multiple
                class="inputform2 ">
                <mat-option *ngFor="let product of productlist" [value]="product">{{product}}</mat-option>
              </mat-select>
              <mat-error class="errorn"
                *ngIf="PIform?.get('product')?.touched && PIform?.get('product')?.hasError('required')">Product
                is
                required
              </mat-error>

            </div>


          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Name of the Firm</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter Firm Name" formControlName="Name" class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('Name')?.touched && PIform?.get('Name')?.hasError('required')">Name is
                required
              </mat-error>
              <mat-error class="errorn"
              *ngIf="PIform?.get('Name')?.touched && !PIform?.get('Name')?.hasError('required') && PIform?.get('Name')?.hasError('pattern')">
              Please enter a valid Name
            </mat-error>
            </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Address (Shop/Road No.Etc)</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter Address" formControlName="Address" class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('Address')?.touched && PIform?.get('Address')?.hasError('required')">Address is
                required
              </mat-error>

            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Geo-Location</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
              <div fxLayout="row" fxLayoutGap="53px" fxFlex="100">
                <input fxFlex matInput (keypress)="decimalOnly($event)" placeholder="Latitude" formControlName="latitude" class="inputform">
                <input fxFlex matInput (keypress)="decimalOnly($event)" placeholder="Longitude" formControlName="longitude" class="inputform">
              </div>

            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">State</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <mat-select placeholder="Select the State" formControlName="State" required
                 class="inputform2">
                 <!-- (selectionChange)="SelectCity($event.value)" -->
                <mat-option *ngFor="let state of SOption" (click)="SelectCity(state)" [value]="state.StateName">{{state.StateName}}</mat-option>
              </mat-select>
              <mat-error class="errorn"
                *ngIf=" PIform?.get('State')?.touched && PIform?.get('State')?.hasError('required')">State is
                required
              </mat-error>

            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">District</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter District" formControlName="District" class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('District')?.touched && PIform?.get('District')?.hasError('required')">District
                is required
              </mat-error>

            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">City</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <mat-select placeholder="Select the City" class="inputform2" formControlName="City" required>
                <mat-option *ngFor="let city of City" [value]="city.City">{{city.City}}</mat-option>
              </mat-select>

              <mat-error class="errorn"
                *ngIf=" PIform?.get('City')?.touched && PIform?.get('City')?.hasError('required')">City
                is required
              </mat-error>

            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Taluka</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter Taluka" formControlName="Taluka" class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('Taluka')?.touched && PIform?.get('Taluka')?.hasError('required')">Taluka
                is required
              </mat-error>


            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Tehsil</span>

            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter Tehsil" formControlName="Tehsil" class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('Tehsil')?.touched && PIform?.get('Tehsil')?.hasError('required')">Tehsil
                is required
              </mat-error>
              <mat-error class="errorn"
                *ngIf=" PIform?.get('TotalPotential')?.touched && PIform?.get('TotalPotential')?.hasError('required')">
                Total Potential of the Party (In MT) is
                required
              </mat-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Pincode</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <input matInput placeholder="Enter Pincode" formControlName="Pincode" (keypress)="decimalOnly($event)" minLength="6" maxLength="6"
                class="inputform">
              <mat-error class="errorn"
                *ngIf=" PIform?.get('Pincode')?.touched && PIform?.get('Pincode')?.hasError('required')">Pincode is
                required
              </mat-error>
              <mat-error class="errorn"
                  *ngIf="PIform?.get('Pincode')?.touched && !PIform?.get('Pincode')?.hasError('required') && PIform?.get('Pincode')?.hasError('pattern')">
                  Please enter valid pincode
                </mat-error>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
            <div fxFlex="10"></div>
            <span fxFlex="30" class="marketsp">Status of the Firm</span>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48" class="">
              <mat-select placeholder="Select one Firm" class="inputform2" [(value)]="selected" (selectionChange)="FirmStatusChange()"
                formControlName="Status" >
                <mat-option value="Proprietor">Proprietor</mat-option>
                <mat-option value="Partnership">Partnership</mat-option>
                <mat-option value="Huf">Huf</mat-option>
                <mat-option value="Pvt Ltd">Pvt Ltd</mat-option>
                <mat-option value="Limited">Limited</mat-option>

              </mat-select>
              <mat-error class="errorn"
                *ngIf="PIform?.get('Status')?.touched && PIform?.get('Status')?.hasError('required')">
                Status of firm is required
              </mat-error>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="firmForm" class="firmForm" *ngIf="selected">

        <div fxLayout="column" style="width:60%;margin-left: 10%;">
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin-top: 3%;">

            <div fxLayout="column" fxFlex="60">
              <div fxLayout="row">
                <mat-label style="margin-bottom: 10px;font-weight: 500;font-size: 13px;">Name</mat-label>
              </div>
              <div fxLayout="column" fxFlex="60">
                <input (keypress)="AlphabetsonlyOnly($event)" matInput placeholder="Enter the Name" formControlName="Name1" style="width: 200px;"
                  class="inputform">
                  <mat-error class="errorn"
                  *ngIf="firmForm?.get('Name1')?.touched && firmForm?.get('Name1')?.hasError('required')">Name
                  is
                  required
                </mat-error>
              </div>
            </div>
            <div fxLayout="column" fxFlex="60">
              <div fxLayout="row">
                <mat-label style="margin-bottom: 10px;font-weight: 500;font-size: 13px;">Mobile</mat-label>
              </div>
              <div fxLayout="column" fxFlex="60">
                <input matInput placeholder="Enter Mobile number" formControlName="Mobile1" style="width: 200px;"
                  class="inputform">
                  <mat-error class="errorn"
                  *ngIf="firmForm?.get('Mobile1')?.touched && firmForm?.get('Mobile1')?.hasError('required')">Mobile number is required
                </mat-error>
                <mat-error class="errorn"
                  *ngIf="firmForm?.get('Mobile1')?.touched && !firmForm?.get('Mobile1')?.hasError('required') && firmForm?.get('Mobile1')?.hasError('pattern')">
                  Please enter valid mobile number
                </mat-error>
              </div>


            </div>
            <div fxLayout="column" fxFlex="60">
              <div fxLayout="row">
                <mat-label style="margin-bottom: 10px;font-weight: 500;font-size: 13px;">Email ID</mat-label>
              </div>
              <div fxLayout="column" fxFlex="60" class="">
                <input matInput placeholder="example@gmail.com" formControlName="email1" style="width: 200px;"
                  class="inputform">
                  <mat-error class="errorn"
                  *ngIf="firmForm?.get('email1')?.touched && firmForm?.get('email1')?.hasError('required')">Email is required
                </mat-error>
                <mat-error class="errorn"
                  *ngIf="firmForm?.get('email1')?.touched && !firmForm?.get('email1')?.hasError('required') && firmForm?.get('email1')?.hasError('pattern')">
                  Please enter valid email
                </mat-error>
              </div>
            </div>
            <div fxLayout="column">
              <button mat-flat-button style="margin-top: 34px;" (click)="IdentityAddClicked()">+</button>
            </div>
          </div>
          <div class="cement">
            <div fxLayout="row">
              <table>
                <thead>
                  <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of IdentityData even as isEven"
                    [ngStyle]="{ background: isEven ? 'white' : '#f1f1f5'}">
                    <td><span>{{item?.FirmName}}</span></td>
                    <td><span>{{item?.Name}}</span></td>
                    <td><span>{{item?.MobileNo}}</span></td>
                    <td><span>{{item?.EmailId}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="" fxFlex="100" fxLayoutGap="4px" style="margin-top: 23px;background: white;">
    <div fxFlex="48"></div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px">
      <button mat-flat-button class="clear" (click)="ClearAll()"> Clear
        <img class="clearimg" src="../../assets/images/clear.svg">
      </button>
    </div>
    <div *ngIf="Role!=true" fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px" style="margin-left:-38px">
      <button mat-flat-button class="draft" (click)="SubmitButtonClick(true)"> Save as Draft
        <img class="draftimg" src="../../assets/images/bi.png">
      </button>
    </div>
    <!-- [disabled]="MIform.required.invalid" -->
    <button *ngIf="SubmitValue != true" mat-raised-button class="savebtn" (click)="SubmitButtonClick()">Submit</button>
    <button *ngIf="SubmitValue == true" mat-raised-button class="savebtn" (click)="NextButtonClick()">Next</button>
  </div>
  <br>
</div>