@import "src/@fuse/scss/fuse";

#dashboard {
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }

  .center {
    padding: 5px !important;
  }

  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
  }

  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .semiBoldClass {
    font-weight: 500;
  }

  .subTitle {
    @extend .semiBoldClass;
    font-size: 14px;
    text-decoration: var(--textDec);
  }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    // th {
    //   @include TableBorderRight(#e0e0e0);
    //   @extend .TablePadFont;
    //   // color: white;
    //   // background-color: #121214;
    // }

    // td {
    //   @include TableBorderRight(#ffffff);
    //   @extend .TablePadFont;
    //   font-size: 12px;
    //   min-width: max-content !important;
    // }

    tr {
      height: 40px;
    }

    .mat-input-element:disabled {
      color: gray !important;
      background: whitesmoke !important;
      cursor: not-allowed !important;
    }
  }

  // td.mat-cell {
  //   /* row padding */
  //   padding: 16px 0;
  //   /* row border */
  //   border-bottom: 1px solid #ffa600;
  //   border-top: 1px solid #ffa600;
  //  }

  //  td.mat-cell:first-child {
  //    /* row border */
  //    border-left: 1px solid #ffa600;
  //  }

  //  td.mat-cell:last-child {
  //    /* row border */
  //    border-right: 1px solid #ffa600;
  //  }

  //  table {
  //    /* row spacing / margin */
  //    border-spacing: 0 8px !important;
  //  }
  .whiteBg {
    background-color: white !important;
  }

  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }
}

.background {
  background-color: white;
}

.personal {
  font-family: "Poppins-Regular";
  color: #1055A0;
  padding-top: 3%;
  // padding-left: 17%;
  font-size: 23px;
  position: fixed;
}

.information {
  font-family: "Poppins-Regular";
  color: #1055A0;
  padding-top: 5%;
  // padding-left: 19%;
  font-size: 23px;
  position: fixed;
  padding-left: 24px;
}

.image {

  width: 18%;
  position: fixed;
  padding-top: 8%;
  padding-left: 2%;
}

.mins {
  font-family: "Poppins-Regular";
  font-size: 25px;
  font-weight: bolder;
  position: fixed;
  margin-left: -6%;
  margin-top: 25%;
}
::ng-deep div.mat-form-field-outline-start{
  border-color: 0 !important;
  border-width: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
  background-color:   rgb(243, 243, 246);
}
// input.mat-input-element {
//  // color: white;
//   // background-color: #c9c3d8;
// }
.aa{
  border-width:0px !important;
border:none !important;
outline:none !important;
}
input:focus{
border: none !important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.avg {
  font-family: "Poppins-Regular";
  font-size: 16px;
  position: fixed;
  opacity: 0.6;
  margin-top: 28%;
  margin-left: 2%;
}

.progress {
  width: 16%;
  position: fixed;
  margin-top: 31%;
  margin-left: 4%;
}

.percent {
  padding: 1%;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 33%;
  margin-left: -8%;
  background-color: #3c4252;
  color: white;
  border-radius: 10px;
}

.category {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 50px;
  width: 100%;
}

.name1 {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
 
}
.dob{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
 
}
.mobile{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  width: 100%;
}
.mail{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  width: 100%;
}
.product {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}

span {
  font-weight: bolder;
}

.mat-select {
  font-weight: normal;
  font-size: 13px;
  width: 100%;
  padding: 0%;
}

.jkc {
  width: 15%;
  position: fixed;
  margin-left: 1%;
  padding-top: 38%;
}

.one {
  font-size: 13px;
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
}

.multiple {
  font-size: 13px;
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
}


.Name{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.address{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.district{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.state{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.pincode{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.status{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}
.desc{
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.form {
  background-color: #F5F5F5;
  max-width: auto;
  height: 600px !important;
  top: 16px;
  max-width: 87%;
  margin-left: 104px;
}

.identity {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}

.errorn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}


.previousimg {
  width: 24%;
  cursor: pointer;
  margin-top: -4px;
}

.previous {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.next {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.nextimg {
  // margin-top: 36px;
  width: 30%;
  cursor: pointer;
  margin-top: -4px;
}

.clear {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.clearimg {
  // margin-top: 36px;
  width: 28%;
  cursor: pointer;
  margin-top: -1px;
}

.savebtn {
  margin-top: 35px;
  width: 20%;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #1055A0 !important;
  color: white;
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 38px;
  height: 35px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
// .mat-form-field-flex > .mat-form-field-infix {
//   padding: 0em 0px 0.5em !important;
// }

// .mat-form-field-appearance-outline {

//   .mat-form-field-suffix,

//   .mat-form-field-prefix {

//     top: 0.5em;

//     .mat-icon-button {

//       width: 1.5em;

//       height: 1.5em;

//     }

//   }

// }

// .mat-form-field-infix {
//   display: block;
//   position: relative;
//   flex: auto;
//   min-width: 0;
//   width: 250px;
// }


// // .mat-form-field-label-wrapper {

// //   top: -1.5em;

// // }

// .mat-form-field-wrapper {

//   margin: 0 0 0 0;

//   padding-bottom: 1em;

// }



// .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {

//   transform: translateY(-1.1em) scale(0.75);

//   width: 133.33333%;

// }
// .mat-form-field-appearance-fill .mat-form-field-flex {
//   border-radius: 4px 4px 0 0;
//   padding: .25em .25em 0 .25em !important;
// }
// .mat-form-field {
//   display: inline-block;
//   position: relative;
//   text-align: center;
// }