// .simg{
//      padding: 100px !important;
//  }
.sucessimg{
    width: 90%;
    padding: 6%;
}
.closebtn{
    margin-left: 3%;
    margin-top: 20px;
    cursor: pointer;
}
.msg{
    width: 116%;
    margin-top: 10%;
    margin-left: 12px;
    font-size: 18px;
}
.name{
    margin-left: 12px;
    margin-top: 12px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.link{
    margin-left: 12px;
    margin-top: 12px;
    font-size: 16px;
    opacity: 0.7;
}
.cancelbtn{
    color: white !important;
    margin-left: 18px;
    margin-top: 24px;
    width: 140px;
    background-color: blue;
}
.cancelbtn1{
    color: white !important;
    margin-left: 18px;
    margin-top: 24px;
    width: 140px;
    background-color: blue !important;
}
.invitebtn{
    background-color: #071e69;
    color: white;
    margin-top: 24px;
    width: 152px;
    margin-left: 58px;
    font-family: Arial, Helvetica, sans-serif;
}
.mailimg{
width: 22%;
padding: 1%;
}
.samplelink{
    margin-top: 0;
    margin-left: 6%;
    padding: 2%;
    background-color: #eaeafd;
    width: 85%;
    font-size: 16px;
    opacity: 0.9;
}
.copylink{
    width: 3%;
    margin-left: 55%;
    cursor: pointer;
}