<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg topBg"></div>
  <div class="center">
      <div class="content-card">
          <mat-sidenav-container>
              <mat-sidenav class="sidenav" position="start" opened="true" mode="side" fuseMatSidenavHelper="chat-left-sidenav"
                  matIsLockedOpen="gt-md">
                  <menu-app-side-bar [AllMenuApps]="AllMenuApps" (MenuAppSelectionChanged)="OnMenuAppSelectionChanged($event)">
                  </menu-app-side-bar>
              </mat-sidenav>
              <menu-app-main-content [currentSelectedMenuApp]="SelectedMenuApp" (SaveSucceed)='RefreshAllMenuApps($event)'
                  (ShowProgressBarEvent)="OnShowProgressBarEvent($event)"></menu-app-main-content>
          </mat-sidenav-container>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
  </div>
</div>
