@import "src/@fuse/scss/fuse";

#chat {
  .center {
    padding: 32px !important;
    max-width: 1400px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }

    .content-card {
      display: flex;
      flex: 1;
      position: relative;
      // border-radius: 10px;

      .mat-sidenav-container {
        display: flex;
        flex: 1;
        width: 100%;

        > .mat-sidenav-content,
        > .mat-drawer-content {
          display: flex;
          flex: 1 1 auto;
          min-height: 100%;
          height: auto;
        }

        > .mat-drawer-content {
          max-width: 100%;
        }

        mat-sidenav {
          display: flex;
          flex-direction: column;
          width: 400px;
          max-width: 90%;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
          overflow: hidden;
        }
      }
    }
  }
  .topBg {
    background-color: #4065ef !important;
  }
  .btnBg {
    background-color: #4065ef !important;
    color: white;
  }
  .accent2 {
    background-color: #7780ef1c;
    color: #000000;
    border-bottom: 4px solid #4065ef;
    mat-icon {
      fill: white !important;
    }
  }
}
