@import "src/@fuse/scss/fuse";

.attachment-dialog {
    .mat-radio-button {
        margin: 0 5px;
    }
    .mat-dialog-container {
        padding: 0px;
        //width: 1140px;
        width: 75vw !important;
        overflow-x: hidden;
        border-radius: 0px;
    }
    .mat-dialog-content {
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        max-height: 80vh;
    }
    .toolBg {
        background-color: #121214 !important;
        color: white !important;
    }
    .btnBg {
        background-color: #efb577 !important;
        color: white !important;
    }
    .btclose {
        background-color: #efb577 !important;
        color: white !important;
    }
    .mat-dialog-actions {
        bottom: 0;
        position: sticky;
    }
}
