.background{
    background-image: url('^/assets/images/login_bg.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: right;
    background-color: white;
}
.picture{
    padding-left: 18%;
}
.bp{
    padding-top: 3%;
    font-size: 42px;
    //font-family: Arial, Helvetica, sans-serif;
}
.content1{
    //font-family: Arial, Helvetica, sans-serif;
    color: #ACACAC;
    opacity: 1;
    font-size: 10px;
    letter-spacing: 0.3px;
    // padding-top: 1%;
}
.exalcaimg{
    padding-top: 5%;
}
.login{
    background-color: white;
    box-shadow: 0px 0px 1px  0 grey;
    height: 578px;
    width: 66%;
    margin-top: 0px;
    margin-left: 10px;
}
.remember-forgot-password {
    font-size: 13px;
    margin-top: 8px;
}
.forgot-password {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
    /* opacity: 0.8; */
    font-size: 13px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.72px;
    color: #1055A0;
    padding-left: 43%;
}
.titleCP{
    font-size: 45px;
    opacity: 1;
}
.welcome{
 //font-family: Arial, Helvetica, sans-serif;
   padding-top:25px ;
   font-size: 16px;
}
.signin{
 //font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 padding-top: 3%;
 padding-left: 12%;
 opacity: 0.67;
 letter-spacing: 0.5px;
}
.user{
 //font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 padding-top: 3%;
 padding-left: 12%;
}
.name{
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
    border: none !important;
    
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
    background-color:   rgb(243, 243, 246);
    // background-color: #c9c3d8;
  }
  input.mat-input-element {
    color: black;
    // background-color: #c9c3d8;
  }
.userid{
    width: 5%;
}
.nameinput{
    // height: 25px;
    border: none !important;
}
.pass{
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 12%;
}
.password{
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
    // height: 111px;
}
.forgot{
 //font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #1a1a83;
 padding-right: 16%;
 cursor: pointer;
}
.btn{
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 76%;
    align-self: center;
    background-color: #1055A0 !important;
    color: white !important;
}
.or{
    opacity: 0.6;
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 22%;
    padding-bottom: 5%;
}
.googleimg{
    width: 6%;
    padding-left: 7px;
    padding-bottom: 4%;
}
.google{
 //font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 padding-top: 2px;
 font-weight: 600;
}
.account{
    opacity: 0.6;
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 6%;
    padding-left: 22%;
    // padding-bottom: 5%;
}
.signup{
 //font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #1a1a83;
 padding-top: 6%;
 cursor: pointer;
}
.mat-form-field{
    border: none;
}
input.mat-input-element {
    margin-top: 0px !important;
}