<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<div class="nextLogin" fxLayout="column" fxFlex>
  <div class="background">
    <div fxLayout="row" FxLayout="center center">
      <div fxLayout="column" fxFlex="49">
        <div fxFlex="20"></div>
        <div class="picture">
          <img src="../../assets/images/Business deal-cuate.svg" style="width:40%">
          <div fxLayout="row" FxLayout="center center" fxLayoutGap="10px" class="bp">
            <img src="../../assets/images/BP_cloud.svg" style="width: 10%;">
            <div class="titleCP">Customer Portal</div>
          </div>
          <div class=" content1">
            Thank you for choosing Exalca.We're excited to get you on board.</div>
          <div class=" content1"> Discover the future of customer engagement.</div>
          <div class="exalcaimg">
            <img src="../../assets/images/poweredby_exalca.svg" style="width:25% ;">
          </div>
        </div>
      </div>
      <div fxLayout="column" FxLayout="center center" fxFlex="50">
        <div fxFlex="15"></div>
        <div class="login">
          <form [formGroup]="signinForm">
            <div fxLayout="column" FxLayout="center center">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px" fxFlex="100" class="welcome">
                <span>Welcome to</span>
                <img src="../../assets/images/jkc_logo.svg" style="width: 40%;">
              </div>
              <div class="signin">Sign In </div>
              <label class="user">User Name</label>
              <mat-form-field appearance="outline" class="name">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="margin-top: 4px;">
                  <img src="../../assets/images/user_id.svg" width="12px" style="margin: 2px 0 0 8px;">
                  <input matInput placeholder="Enter User name" formControlName="userName" class="nameinput">
                </div>
                <mat-error
                  *ngIf="signinForm?.get('userName')?.touched && signinForm?.get('userName')?.hasError('required')">
                  User name is required
                </mat-error>
              </mat-form-field>
              <label class="pass">Password</label>
              <mat-form-field appearance="outline" class="password">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="margin-top: 4px;">
                  <img src="../../assets/images/password.svg" width="12px" style="margin: 2px 0 0 8px;">
                  <input type="password" matInput placeholder="Enter Password" formControlName="password">
                </div>
                <mat-error
                  *ngIf=" signinForm?.get('password')?.touched && signinForm?.get('password')?.hasError('required')">
                  Password is required
                </mat-error>
              </mat-form-field>
              <div class="remember-forgot-password" fxLayoutAlign="center end">
                <span class="forgot-password" (click)="OpenForgetPasswordLinkDialog()">
                  Forgot Password?
                </span>
              </div>
              <!-- <label class="forgot">Forgot Password ?</label> -->
              <!-- </div><br> -->
              <button mat-raised-button class="btn" (click)="LoginClicked()">Log In</button><br>
              <div fxLayout="row" FxLayout="center center" fxFlex="100" fxLayoutGap="10px">
                <div fxFlex="5"></div>
                <!-- <label class="or"> (Or) Login with</label>
              <img src="../../assets/images/google.svg" class="googleimg">
              <label class="google"> Google</label> -->
              </div>
              <!-- <mat-divider></mat-divider> -->
              <div fxLayout="row" FxLayout="center center" fxLayoutGap="5px">
                <!-- <label class="account">Already have an account,Please</label> -->
                <!-- <label class="signup">Sign Up</label> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>