@import "src/@fuse/scss/fuse";

#dashboard {
  background-color: white;

  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }

  .center {
    padding: 5px !important;
    background: white;
  }

  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
  }

  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .semiBoldClass {
    font-weight: 500;
  }

  .subTitle {
    @extend .semiBoldClass;
    font-size: 14px;
    text-decoration: var(--textDec);
  }

  .title {
    text-align: center;
    //font: normal normal 500 22px/26px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 40%;
    padding-left: 40%;
    font-size: 17px;
    font-weight: 300;

  }

  // .tableData {
  //   overflow: auto;
  //   height: 60vh !important;
  //   min-height: 60vh !important;
  //   // max-height: 33vh !important;
  //   .table {
  //     width: 150vw;
  //     max-width: 100%;
  //     overflow: auto;
  //     margin-bottom: 10px;
  //     display: table;
  //     border-collapse: collapse;
  //     margin: 0px;
  //     // background-color: rgb(238, 238, 238);
  //   }
  //   .row,
  //   .header-row {
  //     display: table-row;
  //     min-height: 36px !important;
  //   }
  //   .mat-row:hover {
  //     background-color: lightgrey;
  //   }
  //   .cell,
  //   .header-cell {
  //     word-wrap: initial;
  //     display: table-cell;
  //     padding: 0px 5px;
  //     line-break: unset;
  //     width: fit-content;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     vertical-align: middle;
  //     text-align: center;
  //   }
  //   .header-row,
  //   .header-cell {
  //     margin: 0 auto;
  //     min-height: 100px !important;
  //     text-align: center;
  //     vertical-align: middle;
  //     align-self: center;
  //   }
  //   .mat-card {
  //     min-width: max-content;
  //     max-width: max-content;
  //   }
  //   .sort-header {
  //     display: flex;
  //     align-content: center;
  //     text-align: center;
  //     justify-content: center;
  //     font-size: 12pt;
  //   }
  //   .header-cell {
  //     font-weight: bold;
  //   }
  // }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    // th {
    //   @include TableBorderRight(#e0e0e0);
    //   @extend .TablePadFont;
    //   // color: white;
    //   // background-color: #121214;
    // }

    // td {
    //   @include TableBorderRight(#ffffff);
    //   @extend .TablePadFont;
    //   font-size: 12px;
    //   min-width: max-content !important;
    // }

    tr {
      height: 40px;
    }

    .mat-input-element:disabled {
      color: gray !important;
      background: whitesmoke !important;
      cursor: not-allowed !important;
    }
  }

  .whiteBg {
    background-color: white !important;
  }

  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }
}

.background {
  background-color: white;
}

.personal {
  color: #1055A0;
  padding-top: 3%;
  // padding-left: 17%;
  font-size: 23px;
  position: fixed;
}

// .information {
//  color: #1055A0;
//   padding-top: 5%;
//   // padding-left: 19%;
//   font-size: 23px;
//   position: fixed;
//   padding-left: 24px;
// }

.image {

  width: 18%;
  position: fixed;
  padding-top: 8%;
  padding-left: 2%;
}

.mins {
  font-size: 25px;
  font-weight: bolder;
  position: fixed;
  margin-left: -6%;
  margin-top: 25%;
}

::ng-deep div.mat-form-field-outline-start {
  border-color: 0 !important;
  border-width: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
  background-color: #f1f1f5;
}

// input.mat-input-element {
//  // color: white;
//   // background-color: #c9c3d8;
// }
.aa {
  border-width: 0px !important;
  border: none !important;
  outline: none !important;
}

input:focus {
  border: none !important;
}

.inputdivision {
  //background-color: #f4f4f4;
  height: 32px;
  // border-radius: 4px;
  width: 600px;
  height: 36px;
  /* UI Properties */
  background: #F4F4FB 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.inputdivision1 {
  //background-color: #f4f4f4;
  height: 32px;
  // border-radius: 4px;
  // width: 225px;
  height: 36px;
  /* UI Properties */
  background: #F4F4FB 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.inputform {
  color: #00061C;
  font-size: 13px;
  // width: 83%;
  height: 36px;
  padding-left: 23px;
  line-height: 3.5;
  border: none;
  text-align: left;
  background: #f1f1f5 !important;
}

.inputform1 {
  color: #00061C;
  font-size: 13px;
  // width: 70%;
  height: 36px;
  padding-left: 23px;
  line-height: 3;
  border: none;
  text-align: left;
  background: #f1f1f5 !important;
}

.inputform2 {
  color: #00061C;
  font-size: 13px;
  // width: 70%;
  height: 36px;
  padding-left: 23px;
  line-height: 2;
  border: none;
  text-align: left;
  background: #f1f1f5 !important;
}

.inputform:focus {
  outline: none;
}

.inputform::placeholder {
  font-size: 13px !important;
  // font-family: 'poppins-semi' !important;
  color: #acacac !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .read-only-true .mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start {
  border: 1px solid white !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.market {
  color: #1434AA;
  padding-top: 3%;
  font-size: 23px;
  position: fixed;
  margin-right: 69px;
  font-weight: 500;
}

.information {
  color: #1434AA;
  font-size: 23px;
  position: fixed;
  margin-right: 24px;
  font-weight: 500;
  padding-top: 5%;
}

// .information {
//   color: #1055A0;
//    padding-top: 5%;
//    // padding-left: 19%;
//    font-size: 23px;
//    position: fixed;
//    padding-left: 24px;
//  }


.image {

  width: 13%;
  position: fixed;
  padding-top: 9%;
  padding-left: 2%;

}

.mins {
  font-size: 23px;
  margin-right: -40px;
  font-weight: 500;
  position: fixed;
  margin-right: -1%;

  /* margin-left: -39px; */
  margin-top: 22%;
}

.avg {
  font-size: 16px;
  position: fixed;
  opacity: 0.6;
  margin-top: 24.5%;
  margin-left: 47px;
  color: grey;
}

.progress {
  width: 16%;
  position: fixed;
  margin-top: 21%;
  margin-left: 7%;
}

.percent {
  padding: 1%;
  position: fixed;
  font-size: 16px;
  margin-top: 21.5%;
  margin-right: -1%;

  color: #90B645;
  opacity: 1;

}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #90b645 !important;
}


.jkc {

  //height: 48px;
  width: 12%;
  position: fixed;
  margin-left: 1%;
  padding-top: 25%;
}

.marketsp {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #00061C;
  opacity: 1;
  margin-top: 10px;
}

.marketinfo {
  padding: 0%;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

.populationclass {
  padding: 0%;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}

.errorn {
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.cement {
  width: 132%;
  margin-top: 15px;
  // height: 10%;
  border: 1px solid lightgray;
}

.gsticon {
  padding: 5px;
  color: green;
  min-width: 50px;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 8%;
  display: block;
}

.gsticon2 {
  display: none;
}

.panicon {
  padding: 5px;
  color: green;
  min-width: 50px;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 8%;
  display: block;
}

.panicon2 {
  display: none;
}


::ng-deep ngb-datepicker-navigation-select select:first-child {
  display: none;
}

table {
  width: 100% !important;
  // margin-top: 26px;
  // //font-family: Arial, Helvetica, sans-serif;
  background-color: #cdccdc !important;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

td {
  border: none;
}

.mat-row:nth-child(even) {
  background-color: #cdccdc;
}

.mat-row:nth-child(odd) {
  background-color: #f4f4f4;
}

.header {
  font-weight: 600 !important;
}

.mat-header-cell {
  color: black !important;
  // //font-family: Arial, Helvetica, sans-serif;
  font-weight: 600 !important;
}

.mat-column-cement {
  // border-right: 1px solid #bda6ec !important;
  //border-color: #b8b8d4;
  // font-weight:bolder;
  text-align: left;

}

.mat-column-wp {
  // border-right: 1px solid #bda6ec !important;
  // border-color: #b8b8d4;
  text-align: center;

}

.mat-column-wc {
  // border-right: 1px solid #bda6ec !important;
  // border-color: #b8b8d4;
  text-align: center;
}

.cell {
  font-weight: 100;
}

.add1 {
  background-color: #dde6fb;
  //height: 363px !important;
  margin-left: 12px !important;
  margin-top: 37px !important;
  border-radius: 6px !important;
  font-size: 33px;
  font-weight: normal;
  color: #055ecb;
}

.boxline {
  font-size: 14px;
  font-weight: bolder;
}

.add2 {
  width: 89%;
  margin-top: 10px !important;
  background-color: #dfe9ff;
  height: 40px !important;
  margin-left: 0px !important;
  border-radius: 6px !important;
  font-size: 33px;
  font-weight: normal;
  color: #00499c;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 44px;
  line-height: 26px;
  padding: 0 12px;
  border-radius: 2px;
  overflow: visible;
}

.previous {
  cursor: pointer;
  background-color: white !important;

  .prev_span {
    color: #8e8f92 !important;
    font-size: 14px;
  }

  .previousimg {
    width: 13%;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .previous:hover {
    color: #1434AA !important;
  }

  .prev_span:hover {
    color: #1434AA !important;
  }

  .previousimg:hover {
    color: #00061C;
  }
}
.next {
  margin-top: 35px;
  // //font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;
  margin-left: 30px;
}

.next:hover {
  color: #1434AA !important;
  // background-color: #00061C !important;
}

.nextimg {
  // margin-top: 36px;
  width: 18%;
  cursor: pointer;
  margin-bottom: 2px;
}

.clear {
  font-size: 14px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;

  .prev_span {
    color: #8e8f92 !important;
    font-size: 14px;
  }

  .prev_span:hover {
    color: #1434AA !important;
  }
}

.clear:hover {
  color: #1434AA !important;
}

.draft {
  margin-top: 35px;
  // //font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;
  margin-left: -27px;
}

.draft:hover {
  color: #1434AA !important;
  // background-color: #00061C !important;
}

.clearimg {
  // margin-top: 36px;
  width: 24%;
  cursor: pointer;
  margin-bottom: 2px;
}

.draftimg {
  // margin-top: 36px;
  width: 16%;
  cursor: pointer;
  margin-bottom: 2px;
}

.headerbackgrnd {
  background-image: url('^/assets/images/header_img.png') !important;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 0px;
  height: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.savebtn {
  margin-top: 29px;
  width: 16%;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 14px;
  // //font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #1434AA !important;
  color: white !important;
}

.savebtn:hover {
  background-color: #90B645 !important;
  // background-color: #00061C !important;
}