.background {
    background-image: url('^/assets/images/login_bg.svg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: right;
}

.picture {
    padding-left: 18%;
}

.bp {
    padding-top: 3%;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.content1 {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    font-size: 14px;
    letter-spacing: 0.3px;
    // padding-top: 1%;
}

.exalcaimg {
    padding-top: 5%;
}

.login {
    background-color: white;
    box-shadow: 0px 0px 2px 0 grey;
    height: 578px;
    width: 66%;
    margin-top: 0px;
    margin-left: 10px;
}


.welcome {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    font-size: 21px;
}

.signin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 6%;
    padding-left: 12%;
    opacity: 0.7;
    letter-spacing: 0.5px;
    text-align: center;
}

.user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 3%;
    padding-left: 12%;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
}

.userid {
    width: 5%;
}

.nameinput {
    height: 25px;
    border: none !important;
}

.otp {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5%;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 76%;
    align-self: center;
    background-color: #1055A0;
    color: white;
}

.card1 {
    height: 25px;
    border-radius: 6px;
    padding: 2px !important;
    margin-left: 10px !important;
    margin-top: 29px !important;
    background-color: rgb(243, 243, 246);
    text-align: center;
    width: 40px;
}

.expires {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 6%;
    font-weight: bolder;
}

.request {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1055A0;
    font-size: 14px;
    cursor: pointer;
    padding-top: 4%;
    padding-bottom: 4%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
    background-color: rgb(243, 243, 246);
    // background-color: #c9c3d8;
}