.invite{
    .inv-bg {
        background-image: url('^/assets/images/login_bg.png');
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-size: contain;
        background-position: right;
        background-color: white !important;
    }
    
    .picture {
        padding-left: 18%;
    }
    
    .bp {
        padding-top: 3%;
        font-size: 42px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titleCP{
        font-size: 45px;
        opacity: 1;
    }
    .content1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #ACACAC;
        opacity: 1;
        font-size: 10px;
        letter-spacing: 0.3px;
    }
    
    .exalcaimg {
        padding-top: 5%;
    }
    
    .login {
        background-color: white;
        box-shadow: 0px 0px 1px 0 grey;
        height: 578px;
        width: 66%;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    
    .welcome {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 25px;
        font-size: 16px;
    }
    
    .signin {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding-top: 6%;
        color: #999999;
        opacity: 1;
        letter-spacing: 0.5px;
        text-align: center;
    }
    
    .user {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-top: 3%;
        padding-left: 12%;
    }
    
    .name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-top: 2%;
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .userid {
        width: 5%;
    }
    
    .nameinput {
        height: 25px;
        border: none !important;
    }
    
    .otp {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 5%;
        color: #00061C;
        opacity: 1;
    }
    
    .btn {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: 76%;
        align-self: center;
        background-color: #1055A0 !important;
        color: white !important;
    }
    
    .card1 {
        height: 25px;
        border-radius: 6px;
        padding: 2px !important;
        margin-left: 10px !important;
        margin-top: 29px !important;
        background-color: rgb(243, 243, 246);
        text-align: center;
        width: 40px;
    }
    
    .expires {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-top: 6%;
        font-weight: 600;
        color: #00061C;
        opacity: 1;
    }
    
    .request {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #1055A0;
        font-size: 12px;
        cursor: pointer;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white !important;
        background-color: rgb(243, 243, 246);
        // background-color: #c9c3d8;
    }
    .ProgressBarPostion {
        position: absolute !important;
        top: 43%;
        z-index: 1;
        left: 62%;
      }
    .otp_input{
        width: 40px !important;
        height: 40px !important;
        border-radius: 4px;
        border: 1px solid #c5c5c5;
        text-align: center;
        font-size: 16px !important;
        color: #1055A0;
        font-weight: 600;
    }
}