<div id="dashboard" class="page-layout carded">

  <mat-card class="headerbackgrnd">
    <div fxLayout>
      <div fxFlex fxLayoutAlign="start center" style="height: 2px">
        <img src="../../assets/images/exalca_white_logo.png" style="width: 5%;height:15px;">
        <p class="title">Customer Portal</p>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row" fxFlex="100" style="background: white !important;">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex="20" style="margin-top:45px">
      <div class="market">Bank </div>
      <div class="information">Information</div>
      <img class="image" src="../../assets/images/mi_img.svg">

      <!-- <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
      <div class="percent">96% Almost done!</div> -->
      <img class="jkc" src="../../assets/images/jkc_logo.svg">
    </div>
    <div fxFlex="10"> </div>
    <div fxFlex="70">
      <mat-vertical-stepper style="margin-top:5%"  #stepper>
        <mat-step [stepControl]="BIform" class="temp">
          <form [formGroup]="BIform" fxLayoutAlign="space-around start" class="form_div">
            <ng-template matStepLabel>Details of security deposit</ng-template>

            <div fxLayout="column" class="form_div_I">
              <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="start center">
                <span fxFlex="30" class="marketsp">Select Deposit Type*</span>
                <div fxLayout="column" fxLayoutAlign="start start" class="inp_div">
                  <div fxLayout="column" fxFlex="100"  class="inner-inp_div">
                    <mat-select placeholder="Select Deposit Type" formControlName="Type" class="inputform1">
                      <mat-option *ngFor="let leaf of leaflist" [value]="leaf">{{leaf}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="errorn"
                      *ngIf="BIform?.get('Type')?.touched && BIform?.get('Type')?.hasError('required')">
                      Select leaf
                      is
                      required
                    </mat-error>
                  </div>
                </div>
              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="start center">
                <span fxFlex="30" class="marketsp">Number*</span>
                <div fxLayout="column" fxLayoutAlign="start start" class="inp_div">
                  <div fxLayout="column" fxFlex="100"  class="inner-inp_div">
                    <input autocomplete="off" placeholder=" Enter Number" formControlName="leaf" class="inputform" (keypress)="keyPressNumbers($event)" 
                      required>
                    <mat-error class="errorn"
                      *ngIf="BIform?.get('leaf')?.touched && BIform?.get('leaf')?.hasError('required')">
                      Number
                      is
                      required
                    </mat-error>
                  </div>
                </div>
              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="start center">
                <span fxFlex="30" class="marketsp">Date*</span>
                <div fxLayout="column" fxLayoutAlign="start start" class="inp_div">
                  <div fxLayout="column" fxFlex="100"  class="inner-inp_div">
                    <input autocomplete="off" type="date" placeholder=" Enter the Date" formControlName="Date" class="inputform"
                      required>
                    <mat-error class="errorn"
                      *ngIf="BIform?.get('Date')?.touched && BIform?.get('Date')?.hasError('required')">
                      Date
                      is
                      required
                    </mat-error>
                  </div>
                </div>

              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="start center">
                <span fxFlex="30" class="marketsp">Amount(In lakhs)*</span>
                <div fxLayout="column" fxLayoutAlign="start start" class="inp_div">
                  <div fxLayout="column" fxFlex="100"  class="inner-inp_div">
                    <input autocomplete="off" style="margin-left: 4px !important;" placeholder=" Enter the Amount" (keypress)="keyPressNumbers($event)"
                      formControlName="Amount" class="inputform" required>
                    <mat-error class="errorn"
                      *ngIf="BIform?.get('Amount')?.touched && BIform?.get('Amount')?.hasError('required')">
                      Amount
                      is
                      required
                    </mat-error>
                  </div>
                </div>
              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" fxLayoutAlign="start center">
                <span fxFlex="30" class="marketsp">Enter Name of Bank</span>
                <div fxLayout="column" fxLayoutAlign="start start" class="inp_div">
                  <div fxLayout="column" fxFlex="100"  class="inner-inp_div">
                    <input autocomplete="off" style="margin-left: 4px !important;" (keypress)="AlphabetsonlyOnly($event)" placeholder=" Enter Name of Bank"
                      formControlName="nameofbank" class="inputform" required>
                    <mat-error class="errorn"
                      *ngIf="BIform?.get('nameofbank')?.touched && BIform?.get('nameofbank')?.hasError('required')">
                      Amount
                      is
                      required
                    </mat-error>
                  </div>
                </div>
              </div>
              <div *ngIf="Tickmark" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="checkbox">
                <div >
                  <mat-checkbox class="example-margin" [checked]="isd2rs" (change)="CheckBox($event)"></mat-checkbox>
                </div>
                <div>Advance Billing Party</div>
              </div>

            </div>

          </form>
        </mat-step>
        <mat-step [stepControl]="BIform">
          <form [formGroup]="BankForm">
            <ng-template matStepLabel>Bank Details of Firm/Party</ng-template>
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxLayout="column" fxLayoutAlign="start start" FxFlex="100">
                <span class="leafspan">Bank Name*</span>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
                  <mat-form-field appearance="" class="formleaf" style="margin-top:25px;">
                    <input matInput placeholder="Enter Bank Name" (keypress)="AlphabetsonlyOnly($event)" formControlName="bankname" style="width: 100%;"
                      class="inputformm">
                    <mat-error class="errorn"
                      *ngIf="BankForm?.get('bankname')?.touched && BankForm?.get('bankname')?.hasError('required')">
                      Bank Name
                      is
                      required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start" FxFlex="100">
                <span class="leafnospan">Bank Address*</span>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
                  <mat-form-field appearance="" class="formleaf">
                    <input matInput placeholder="Enter Bank Address" class="inputformm" formControlName="bankaddress"
                      style="width: 100%;">
                    <mat-error class="errorn"
                      *ngIf="BankForm?.get('bankaddress')?.touched && BankForm?.get('bankaddress')?.hasError('required')">
                      Bank Address
                      is
                      required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start" FxFlex="100">
                <span class="leafnospan">IFSC Code*</span>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
                  <mat-form-field appearance="" class="formleaf">
                    <input matInput placeholder=" Enter IFSC Code" formControlName="ifsccode" style="width: 100%;"
                      class="inputformm">
                    <mat-error class="errorn"
                      *ngIf="BankForm?.get('ifsccode')?.touched && BankForm?.get('ifsccode')?.hasError('required')">
                      IFSC Code
                      is
                      required
                    </mat-error>
                    <mat-error class="errorn" *ngIf=" BankForm?.get('ifsccode')?.hasError('pattern')">
                      Enter a valid IFSC Code
                    </mat-error>
                  
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start" FxFlex="100">
                <span class="leafnospan">Bank A/c Number*</span>


                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
                  <mat-form-field appearance="" class="formleaf">
                    <input matInput placeholder="Enter Bank A/c Numberter" formControlName="bankacno" (keypress)="keyPressNumbers($event)"
                      style="width: 100%;" class="inputformm"  minLength="14" maxLength="16">
                    <mat-error class="errorn"
                      *ngIf="BankForm?.get('bankacno')?.touched && BankForm?.get('bankacno')?.hasError('required')">
                      Bank A/c Number
                      is
                      required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <button mat-flat-button style="margin-top: 34px;" (click)="onAdd()">+</button>
              </div>
              <!-- <div fxLayout="column" fxLayoutAlign="start start" FxFlex="100">
                <button mat-flat-button class="add1" (click)="onAdd()">+</button>
              </div> -->


            </div>
            <div class="cement1">
              <div fxLayout="row">
                <table>
                  <thead>
                    <tr>
                      <th>Bank Detail No. </th>
                      <th>Bank Name</th>
                      <th>Bank Address</th>
                      <th>IFSC Code</th>
                      <th>Bank A/c Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listData even as isEven;let i = index" 
                    [ngStyle]="{ background: isEven ? 'white' : '#f1f1f5'}">
                      <td><span>{{i+1}}</span></td>
                      <td><span>{{item?.BankName}}</span></td>
                      <td><span>{{item?.BankAddress}}</span></td>
                      <td><span>{{item?.IFSC}}</span></td>
                      <td><span>{{item?.AccountNum}}</span></td>
                      <!-- <td><button type="button" (click)="remove">Remove</button></td>
                      <td><button type="button" (click)="additem()">Edit</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </form>
        </mat-step>
        <!-- <mat-step [stepControl]="BIform">
                    <form [formGroup]="BIform">
                  <ng-template matStepLabel> Connection (if any) with any       (Mention Name-Relation-MobileNo)</ng-template>
          
                       <div fxLayout="column" fxLayoutAlign="">
                        <div fxLayout="row" fxLayoutAlign="" class="marketinfo" fxFlex="100">
                          <div fxFlex="4"></div>
                          <span fxFlex="36" class="marketsp">Jk Directories/Employees/Existing Stockists*</span>
            
                          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50"  class="inputdivision">
                                <mat-select  [(value)]="selected" formControlName="jkc1" placeholder="Please Select the field"  class="inputform1">
                                    <mat-option value="1">Yes</mat-option>
                                    <mat-option value="2">No</mat-option>
                                  </mat-select>
                              <mat-error class="errorn"
                                *ngIf="BIform?.get('leaf')?.touched && BIform?.get('leaf')?.hasError('required')">
                               Selection Field
                                is
                                required
                              </mat-error>
                           
                          </div>
                         
            
                        
                        </div>
                      
                    <div fxLayout="row"   class="marketinfo" fxFlex="100"  *ngIf="selected==1">
                        <div fxFlex="4"></div>
                     
                        <div fxLayout="row" fxFlex="96"  fxLayoutGap="10px" class="">
                       <div class="Connection">Name</div>
                        <div fxLayout="column" fxFlex="22">
                          <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" class="inputform1 "
                           required>
                          
                        </div>
                        <div class="Connection">Mobile</div>
                        <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                          <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                           required>
                           
                        </div>
                        <div class="Connection">Relation</div>
                        <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                          <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                           required>
                          
                        </div>
                         </div>
          
                      
                      </div>
          
                        <div fxLayout="row" class="populationclass" fxFlex="100">
                          <div fxFlex="4"></div>
                          <span fxFlex="36" class="marketsp">Political Party</span>
                          
                            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                                <mat-select  [(value)]="selected" formControlName="politicalParty"  class="inputform1" placeholder="Please Select the field">
                                    <mat-option value="3">Yes</mat-option>
                                    <mat-option value="4">No</mat-option>
                                  </mat-select>
                             
                            </div>
                           
                          
                        
                        </div>
                        <div fxLayout="row"   class="marketinfo" fxFlex="100"  *ngIf="selected==3">
                            <div fxFlex="4"></div>
                         
                            <div fxLayout="row" fxFlex="96"  fxLayoutGap="10px" class="">
                           <div class="Connection">Name</div>
                            <div fxLayout="column" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" class="inputform1 "
                               required>
                              
                            </div>
                            <div class="Connection">Mobile</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                               
                            </div>
                            <div class="Connection">Relation</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                              
                            </div>
                             </div>
              
                          
                          </div>
                        <div fxLayout="row"  class="populationclass" fxFlex="100">
                          <div fxFlex="4"></div>
                          <span fxFlex="36" class="marketsp">Police</span>
                          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                            <mat-select  [(value)]="selected" formControlName="police"  class="inputform1" placeholder="Please Select the field">
                                <mat-option value="5">Yes</mat-option>
                                <mat-option value="6">No</mat-option>
                              </mat-select>
                           
                          </div>
                        
                        </div>
                        <div fxLayout="row"   class="marketinfo" fxFlex="100"  *ngIf="selected==5">
                            <div fxFlex="4"></div>
                         
                            <div fxLayout="row" fxFlex="96"  fxLayoutGap="10px" class="">
                           <div class="Connection">Name</div>
                            <div fxLayout="column" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" class="inputform1 "
                               required>
                              
                            </div>
                            <div class="Connection">Mobile</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                               
                            </div>
                            <div class="Connection">Relation</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                              
                            </div>
                             </div>
              
                          
                          </div>
            
                        <div fxLayout="row"  class="populationclass" fxFlex="100">
                          <div fxFlex="4"></div>
                          <span fxFlex="36" class="marketsp">Administrative Authority</span>
                          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                            <mat-select  [(value)]="selected" formControlName="admin"  class="inputform1" placeholder="Please Select the field">
                                <mat-option value="7">Yes</mat-option>
                                <mat-option value="8">No</mat-option>
                              </mat-select>
                           
                          </div>
                        </div>
                        <div fxLayout="row"   class="marketinfo" fxFlex="100"  *ngIf="selected==7">
                            <div fxFlex="4"></div>
                         
                            <div fxLayout="row" fxFlex="96"  fxLayoutGap="10px" class="">
                           <div class="Connection">Name</div>
                            <div fxLayout="column" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" class="inputform1 "
                               required>
                              
                            </div>
                            <div class="Connection">Mobile</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                               
                            </div>
                            <div class="Connection">Relation</div>
                            <div fxLayout="column" fxLayoutAlign="" fxFlex="22">
                              <input autocomplete="off" matInput placeholder="Enter" formControlName="jkc1Name" c class="inputform1 "
                               required>
                              
                            </div>
                             </div>
              
                          
                          </div>
                        <div fxLayout="row" class="populationclass" fxFlex="100">
                          <div fxFlex="4"></div>
                          <span fxFlex="36" class="marketsp">Sales Officer Name*</span>
                          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                            <input autocomplete="off" style="margin-left: 4px !important;" placeholder=" Enter the sales Officer Name"
                            formControlName="sales" class="inputform" required>
                         
                          </div>
                        </div>
                      
                        <div fxLayout="row"  class="populationclass" fxFlex="100">
                            <div fxFlex="4"></div>
                            <span fxFlex="36" class="marketsp">ASM Name*</span>
                            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                                <input autocomplete="off" style="margin-left: 4px !important;" placeholder=" Enter the ASM Name"
                                formControlName="asmname" class="inputform" required>
                          
                            </div>
                          </div>
                        
                          <div fxLayout="row" class="populationclass" fxFlex="100">
                            <div fxFlex="4"></div>
                            <span fxFlex="36" class="marketsp">State Head Name*</span>
                            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="">
                                <input autocomplete="off" style="margin-left: 4px !important;" placeholder=" Enter the ASM Name"
                                formControlName="headname" class="inputform" required>
                           
                            </div>
                          </div>
                         
                        
                      </div>
          
          
                 
                </form>
                </mat-step> -->
        <mat-step [stepControl]="BIform" *ngIf="!Attach1?.AttachmentName">
          <form [formGroup]="BIform">
            <ng-template matStepLabel>Documents Required (Attachments)</ng-template>
            <div *ngIf="!selectedPersonalInfo?.FirmStatus" fxLayout="column" fxLayoutAlign="start space-evenly">

              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Copy of Pan Card*</span>

                <div fxLayout="column" fxFlex="50" class="">
                  
                  <input #csvInput hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg" (change)="csvInputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput.click()" style="color: green;">Upload</button>
                  <!-- <p style="color: #f44336;font-size: 12px;" *ngIf="FileError">Attachement is required</p> -->
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName}}</p>
                </div>

              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Copy of Gst Certificate*</span>

                <div fxLayout="column" fxFlex="50" class="">
                
                  <input #csvInput1 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg" (change)="csv1InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput1.click()" style="color: green;">Upload</button>
                 
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName1}}</p>
                </div>

              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Copy of Aadhar Card*</span>

                <div fxLayout="column" fxFlex="50" class="">
                 
                  <input #csvInput2 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv2InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput2.click()" style="color: green;">Upload</button>
                  
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName2}}</p>
                </div>

              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Copy of Cancelled Cheque*</span>

                <div fxLayout="column" fxFlex="50" class="">
                
                  <input #csvInput3 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv3InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput3.click()" style="color: green;">Upload</button>
              
                </div>

                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName3}}</p>
                </div>
              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Photograph of Proprietor/Partner*</span>

                <div fxLayout="column" fxFlex="50" class="">
                
                  <input #csvInput4 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv4InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput4.click()" style="color: green;">Upload</button>
                 
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName4}}</p>
                </div>

              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">TDS declaration on Stockist letter head*</span>

                <div fxLayout="column" fxFlex="50" class="">
                 
                  <input #csvInput5 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv5InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput5.click()" style="color: green;">Upload</button>
                
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName5}}</p>
                </div>

              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Address Proof of stockist premises*</span>

                <div fxLayout="column" fxFlex="50" class="">
                 
                  <input #csvInput6 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv6InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput6.click()" style="color: green;">Upload</button>
                  
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName6}}</p>
                </div>

              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100" style="margin-top: 2%;">
                <!-- <div fxFlex="2"></div> -->
                <span fxFlex="30" class="marketsp">Signed Digital Agreement on Non-Judicial paper*</span>

                <div fxLayout="column" fxFlex="50" class="">
                 
                  <input #csvInput7 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" accept="application/pdf,image/png, image/jpg , image/jpeg"  (change)="csv7InputChange($event)"/>
                  <button mat-raised-button class="uploadbtn" (click)="csvInput7.click()" style="color: green;">Upload</button>
                </div>
                <div fxLayout="column" fxFlex="50" class="">
                  <p style="margin-left:14%;">{{FileName7}}</p>
                </div>

              </div>

              <mat-checkbox formControlName="declare" style="
                            margin-top: 4%;margin-right: 10%;">
                <div fxLayout="column">
                  <p style="margin-left: 13px;">I / We declare that above information is true and correct to the best of
                    my/our knowledge & belief</p>

                </div>

              </mat-checkbox>
            </div>

            <div *ngIf="selectedPersonalInfo?.FirmStatus" fxLayout="column" fxLayoutAlign="space-evenly center">
              <!-- <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select formControlName="Type" required>
                  <mat-option value="Domestic supply"> Domestic supply</mat-option>
                  <mat-option value="Domestic servic">Domestic service</mat-option>
                  <mat-option value="Import">Import</mat-option>
                </mat-select>
              </mat-form-field> -->
              <div fxLayout="row" class="populationclass" fxFlex="100">
                <div fxFlex="10"></div>
                <span fxFlex="30" class="marketsp">{{name}}:</span>
              </div>

              <div fxLayout="row" class="populationclass" fxFlex="100">
                <div fxFlex="10"></div>
                <span fxFlex="30" class="marketsp">Copy of Pan Card</span>

                <div fxLayout="column" fxFlex="50" class="">
                  <button mat-raised-button class="uploadbtn" style="color: green;">Upload</button>
                </div>


              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100">
                <div fxFlex="10"></div>
                <span fxFlex="30" class="marketsp">Copy of Adhar card</span>

                <div fxLayout="column" fxFlex="50" class="">
                  <button mat-raised-button class="uploadbtn" style="color: green;">Upload</button>
                </div>


              </div>
              <div fxLayout="row" class="populationclass" fxFlex="100">
                <div fxFlex="10"></div>
                <span fxFlex="30" class="marketsp">Copy of your photo</span>

                <div fxLayout="column" fxFlex="50" class="">
                  <button mat-raised-button class="uploadbtn" style="color: green;">Upload</button>
                </div>


              </div>
            </div>

          </form>
        </mat-step>
        <mat-step [stepControl]="BIform"  *ngIf="Attach1?.AttachmentName">
          <ng-template matStepLabel>Documents Required (Attachments)</ng-template>
          <div fxLayout="column" fxLayoutAlign="space-evenly center">
  
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Copy of Pan Card*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach1?.AttachmentName"> {{Attach1?.AttachmentName}}</p>
                <!-- <input #csvInput hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csvInputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput.click()" style="color: green;">Upload</button> -->
                
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button download="file.txt" (click)="GetAttachment(Attach1?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
  
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Copy of Gst Certificate*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach2?.AttachmentName"> {{Attach2?.AttachmentName}}</p>
                <!-- <input #csvInput1 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv1InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput1.click()" style="color: green;">Upload</button> -->
               
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button class="uploadbtn" (click)="GetAttachment(Attach2?.AttachmentName)">Download</button>
              </div>
  
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Copy of Aadhar Card*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach3?.AttachmentName"> {{Attach3?.AttachmentName}}</p>
                <!-- <input #csvInput2 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv2InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput2.click()" style="color: green;">Upload</button> -->
                
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach3?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
  
            </div>
  
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Copy of Cancelled Cheque*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach4?.AttachmentName"> {{Attach4?.AttachmentName}}</p>
                <!-- <input #csvInput3 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv3InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput3.click()" style="color: green;">Upload</button> -->
            
              </div>
  
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach4?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
            </div>
  
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Photograph of Proprietor/Partner*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach5?.AttachmentName"> {{Attach5?.AttachmentName}}</p>
                <!-- <input #csvInput4 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv4InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput4.click()" style="color: green;">Upload</button> -->
               
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach5?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
  
            </div>
  
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">TDS declaration on Stockist letter head*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach6?.AttachmentName"> {{Attach6?.AttachmentName}}</p>
                <!-- <input #csvInput5 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv5InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput5.click()" style="color: green;">Upload</button> -->
              
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach6?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
  
            </div>
  
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Address Proof of stockist premises*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach7?.AttachmentName"> {{Attach7?.AttachmentName}}</p>
                <!-- <input #csvInput6 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv6InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput6.click()" style="color: green;">Upload</button> -->
                
              </div>
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach7?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
  
            </div>
            <div fxLayout="row" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Signed Digital Agreement on Non-Judicial paper*</span>
  
              <div fxLayout="column" fxFlex="50" class="">
                <p style="margin-left:14%;" *ngIf="Attach8?.AttachmentName"> {{Attach8?.AttachmentName}}</p>
                <!-- <input #csvInput7 hidden="true" type="file" onclick="this.value=null" class="uploadbtn" (change)="csv7InputChange($event)"/>
                <button mat-raised-button class="uploadbtn" (click)="csvInput7.click()" style="color: green;">Upload</button> -->
              </div>
  
              <div fxLayout="column" fxFlex="50" class="">
                <button mat-raised-button (click)="GetAttachment(Attach8?.AttachmentName)" class="uploadbtn">Download</button>
              </div>
            </div>
  
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100" fxLayoutGap="20px" style="margin-top: 23px;background: white;">
    <div fxFlex="33"></div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="0px">
      <button mat-flat-button class="previous" (click)="previousbtn()" fxLayout="row" fxLayoutGap="10px">
        <img class="previousimg" src="../../assets/images/previous.svg">
        <span class="prev_span">
          Previous
        </span>
      </button>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="0px" style="margin-left:-20px">
      <button mat-flat-button class="next" (click)="nextbtn()">Next
        <img class="nextimg" src="../../assets/images/next.svg">
      </button>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px">
      <button mat-flat-button class="clear" (click)="ClearAll()" fxLayout="row" fxLayoutGap="10px"
       style="width: 100%;column-gap: 20px !important;"> 
        <img class="clearimg" src="../../assets/images/clear.svg">
        <span class="prev_span">
          Clear
        </span>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px" style="margin-left:-38px">
      <button mat-flat-button class="draft" (click)="ClearAll()" fxLayout="row" fxLayoutGap="10px"> 
        <img class="draftimg" src="../../assets/images/bi.png">
        <span class="prev_span">
          Save as Draft
        </span>
      </button>
    </div>
    <button mat-raised-button class="savebtn" (click)="SubmitButtonClick()">Submit</button>
  </div>
  <br>
  <mat-progress-spinner *ngIf=" isProgressBarVisibile" class="progressBarPostion"   mode="determinate" value="40">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>