<div class="sidenav-header">
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-16" svgIcon="searchIcon"></mat-icon>
                    <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <button mat-mini-fab class="mr-8 btnBg" matTooltip="Add Role" (click)="clearRole()">
                    <mat-icon aria-label="Add Role" svgIcon="addIcon"></mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="sidenav-content py-16" fusePerfectScrollbar fxFlex>
    <div *ngFor="let rol of AllRoles | filter: searchText">
        <div [attr.aria-label]="rol.RoleName">
            <div fxLayout="row" fxLayoutAlign="start center" class="side-bar-items" matRipple
                (click)="loadSelectedRole(rol)" [ngClass]="{'active accent2':selectID==rol.RoleID}">
                <!-- <div fxFlex="30%" fxLayoutAlign="start center">
                                    {{ap.Doc_Type_ID}}
                                </div> -->
                <div fxFlex="70%" fxLayoutAlign="start center">
                    {{rol.RoleName}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(AllRoles | filter: searchText).length === 0" class="no-results-message">
        <span class="pl-12"> No results..</span>
    </div>
    <!-- <div *fuseIfOnDom [@animateStagger]="{value:'50'}">
        <div class="chat-list" fxLayout="column">
            <button mat-button class="contact" *ngFor="let rol of AllRoles | filter: searchText"
                (click)="loadSelectedRole(rol)" ngClass="{'unread':contact.unread}"
                [@animate]="{value:'*',params:{y:'100%'}}"
                [style.background-color]="selectID==rol.RoleID?'lightgrey':'white'">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="row" fxFlex>
                        <div class="" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{rol.RoleName}}</div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center end">
                            <div class="contact-last-message-time">
                                {{rol.CreatedOn | date}}
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div *ngIf="(AllRoles | filter: searchText).length === 0" class="no-results-message">
            No results..
        </div>
    </div> -->
</div>