
@import "src/@fuse/scss/fuse";

#dashboard {
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
.DashBoard_Box{
    width: 89%;
  height: 159px;
  margin-right: 43px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(31, 0, 158, 0.16);

  background-color: #ffffff;
}
.Card_1{
  height: 120px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 19px;
    // padding: 13px 21px 10px 14px;
    // opacity: 0.1;
    border-radius: 4px;
    background-color: #e9eef3;
}
.Card_2{
    width: 100%;
    height: 120px;
    margin: 8px 0px;
    // padding: 13px 23px 10px 14px;
    // opacity: 0.1;
    border-radius: 4px;
    background-color: #eadeeb;
}
.Card_3{
    width: 100%;
    height: 120px;
    margin: 8px 22px;
    // padding: 13px 27px 23px 14px;
    // opacity: 0.1;
    border-radius: 4px;
    background-color: #eaf5d5;
}
.Card_4{
  width: 100%;
  height: 120px;
  margin: 8px 15px;
  // padding: 13px 27px 23px 14px;
  // opacity: 0.1;
  border-radius: 4px;
  background-color: #f5dbdb;
}
.sign_label{
    width: 50px;
    height: 59px;
    // margin: 3px 0 42px 7px;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #0e82fb;
}
.sign_label1{
    width: 66px;
    height: 48px;
    // margin: 76px 7px 0 2px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #394256;
}
.sign_label3{
    width: 50px;
    height: 59px;
    // margin: 3px 0 42px 7px;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #00de34;
}
.sign_label2{
    width: 50px;
    height: 59px;
    // margin: 3px 0 42px 7px;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #ff4646;
}
.inp-div {
  width: 80%;
}
.inputform{
  color: #00061C;
  font-size: 16px;
  // width: 149%;
  // height: 29px;
  // margin-left: 49%;
  // margin-top: 10px;
  // line-height: 3.5;
  border: none;
  text-align: left;
  background: #f1f1f5 !important;
}
.DashBoard_Box1{
    width: 100%;
  height: 160px;
  margin-bottom: 20px;
//   margin: 15px 1.8px 42px 38px;
  border-radius: 4px;
//   box-shadow: 0 2px 6px 0 rgba(31, 0, 158, 0.16);
border: solid 2px #f4f4f4;
  background-color: #ffffff;
}
.headerbackgrnd{
    background-image: url('^/assets/images/header_img.png') !important;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 0px;
    height: 0px;
    position: fixed;
      z-index: 100;
      width: 100%;
  }
  #chart-container {
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    width: 340px !important;
    border: 1px solid rgba(0,0,0,0.38);
  }
  
  #chart {
    display: flex;
    width: 100%;
  }
  .image{
    // width: 81%;
    // margin-left: -18%; 
    // margin-top: 37%;
    transform: scale(0.8);
    margin-right: 6px;
  }
  table {
    width: 100%;
  }
  .example-form {
    // min-width: 250px;
    // max-width: 900px;
    // width: 100%;
    // margin:3rem 1rem
  }
  
  .example-full-width {
    width: 100%;
  }
  .my-input {
    border-radius: 4px;
    border: 1px solid #9c9c9c;
    background-color: #f7f7f7;
    width: 72%;
    margin-left: 190px;
    height: 30px
  }
  .search-icon {
    position: relative;
    right: 32px;
    top:8px;
    width: 24px;
    height:24px;
    font-size: 24px;
    cursor: pointer;
  }
  .link{
    min-width:15px;
    // margin-left:10px;
    font-size: 12px;
    font-weight: 500;
}
}
.total-work {
  width: 100%;
  height: calc(100vh - 47.98px);
  padding: 20px;
  background-color: white;
}
.first-div {
 width: 100%;
 height: 35%; 
 margin-top: 40px;
 .status-div {
  padding: 20px;
  // background-color: white !important;
  box-shadow: 2px 6px 7px 2px rgba(196,196,196,1);
  .inner_statusdiv {
    height: 100%;
    border-radius: 4px;
    .count {
      align-self: center;
      font-size: 20px;
    }
    .status_profile {
      color: black;
      align-self: center;
      font-size: 10px;
      font-weight: 500;
    }
  }
 }
}
.bg-clr1 {
  background-color: #e7eef5;
  .clr1 {
    color: #1055A0;
  }
}
.bg-clr2 {
  background-color: #faedfc !important;
  .clr2 {
    color: #D14BDD;
  }
}
.bg-clr3 {
  background-color: #f4f8ec !important;
  .clr3 {
    color: #90B645;
  }
}
.bg-clr4 {
  background-color: #ffecec !important;
  .clr4 {
    color: #FF4646;
  }
}
.second-div {
  height: 100%;  width: 100%;
  background-color: white !important;
  .inner-second_div {
    width: 100% !important;
  }
}
.graph-div {
  border: rgb(152, 152, 152) 1px solid;
  width: 100%;
  border-radius: 4px;
}
.align-image {
  align-items: flex-start;
  margin-left: 6px;
  transform: scale(0.8);
}
.btn_bg {
  border-radius: 4px;
  background-color: #f3f3f4;
  height: 32px;
}
.serachicon_search {
  color: black;
  transform: scale(0.7);
  align-self: center;
  margin-left: 12px;
}

.search_input1 {
  height: 25px;
  width: 80%;
  border-radius: 3px;
  color: #394256;
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background: transparent;
}
.micicon_search {
  color: #acacac;
  transform: scale(0.7);
  align-self: center;
  margin-left: 12px;margin-right: 10px;
}
.search_input1:focus {
  outline: none;
}
.forminputedit {
  color: #0d0c22;
  font-size: 10px;
}
.navigation-div {
  border-bottom: none !important;
}
.table_div {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  height: 350px;
  overflow: auto;
  .table-css {
    width: 100%;
    height: 200px;
    border: #acacac 0.4px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .header-row-css {
      background-color: white !important;
    }
    .row-table {
      overflow: scroll;
      font-size: 10px;
      color: #C9C9C966;
    }
    .header_table-class {
      color: black;
    }
    .table_data {
      font-size: 10px;
      color: #ACACAC;
      font-weight: 500;
    }
    .tble_btn {
      color: #1055A0;
      background: transparent;
      font-size: 10px;
      font-weight: 500;
    }
  }
}
.overall_recieved{
  color: #B5B5B5;
  font-size: 10px;
  font-weight: 500;
}
.bar-chart {
  height: 135px;
}
.title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
.account-actions {
  align-items: center;
  column-gap: 4px;
  margin-right: 60px;
  .user-name{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
  }
}