<div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <mat-card class="headerbackgrnd">
    <div fxLayout>
      <div fxFlex fxLayoutAlign="start center" style="height: 2px">
        <img src="../../assets/images/exalca_white_logo.png" style="width: 5%;height:15px;">
        <p class="title">Customer Portal</p>
      </div>
    </div>
  </mat-card>
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex="20" style="margin-top:45px">
        <div class="market">Business </div>
        <div class="information">Information</div>
        <img class="image" src="../../assets/images/Businessplan.svg">
        <!-- <div class="mins">30 secs</div>
        <div class="avg">Average Time to Complete</div> -->
        <!-- <mat-progress-bar mode="determinate" value="80" class="progress"></mat-progress-bar>
        <div class="percent">98% Almost Done!</div> -->
        <img class="jkc" src="../../assets/images/jkc_logo.svg">
      </div>
      <div fxFlex="7"> </div>
    
      <div fxFlex="73" style="background:white;">
        <form [formGroup]="BIform" style="margin-top: 34px;">
          <div fxLayout="column" fxLayoutAlign="">
            <div fxLayout="row" fxLayoutAlign=""  class="marketinfo" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Total Turn Over of 3 years*</span>

              <div fxLayout="row" fxLayoutAlign="start start" fxFlex="40" fxLayoutGap="10px" class="">
              <div fxLayout="column" fxFlex="38">
                <input autocomplete="off" placeholder="FY 21-22"  formControlName="NoOfYears" class="inputform1 "
                 required>
                 <mat-error class="errorn"
                 *ngIf="BIform?.get('NoOfYears')?.touched && BIform?.get('NoOfYears')?.hasError('required')">
                 Turn over
                 is
                 required
               </mat-error>
              </div>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                <input autocomplete="off" placeholder="FY 20-21" formControlName="retail" class="inputform1 "
                 required>
                 <mat-error class="errorn"
                 *ngIf="BIform?.get('retail')?.touched && BIform?.get('retail')?.hasError('required')">
                 Turn over
                 is
                 required
               </mat-error>
              </div>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="38">
                <input autocomplete="off" placeholder="FY 19-20" formControlName="NoOfYears1" class="inputform1 "
                 required>
                 <mat-error class="errorn"
                 *ngIf="BIform?.get('NoOfYears1')?.touched && BIform?.get('NoOfYears1')?.hasError('required')">
                 Turn over
                 is
                 required
               </mat-error>
              </div>
               </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Total Storage Capacity*</span>
              
                <div fxLayout="column" fxLayoutAlign="" fxFlex="48" class="">
                  <input autocomplete="off" placeholder=" Enter the capacity" formControlName="storagecapacity"
                  class="inputform"  required>
                  <mat-error class="errorn"
                  *ngIf="BIform?.get('storagecapacity')?.touched && BIform?.get('storagecapacity')?.hasError('required')">
                 Capacity
                  is
                  required
                </mat-error>
                </div>
              
            
            </div>

            <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">Working Capital to be Invested*</span>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="48" class="">
                <input autocomplete="off" placeholder=" Enter the working captial" formControlName="capitalinvest"
                class="inputform " required>
                <mat-error class="errorn"
                *ngIf="BIform?.get('capitalinvest')?.touched && BIform?.get('capitalinvest')?.hasError('required')">
                Working Capital
                is
                required
              </mat-error>
              </div>
            
            </div>

            <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">No of Vehicle Owned with Capacity*</span>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="48" class="">
                <input autocomplete="off" style="margin-left: 4px !important;" placeholder=" Enter No.of.Vehicle owned"
                formControlName="vehicle" class="inputform " required>
                <mat-error class="errorn"
                *ngIf="BIform?.get('vehicle')?.touched && BIform?.get('vehicle')?.hasError('required')">
                No of Vehicle Owned
                is
                required
              </mat-error>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Wholesale</span>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="48" class="">
                <input autocomplete="off" (keypress)="keyPressNumbers($event)"  placeholder=" Enter sales in wholesale" formControlName="Wholesale"
                class="inputform " required>

              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="" class="populationclass" fxFlex="100">
              <div fxFlex="10"></div>
              <span fxFlex="30" class="marketsp">% Sales in Retail</span>
              <div fxLayout="column" fxLayoutAlign="" fxFlex="48" class="">
                <input autocomplete="off" placeholder=" Enter sales in retail" formControlName="retail" class="inputform "
                 required>

              </div>
            </div>

            
          </div>
        </form>
       <!-- <form [formGroup]="BrandForm"> -->
            <div fxLayout="column" style="width:60%;margin-left: 10%;">
              <mat-card class="cement" >
               
                 <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" >
                  <div fxLayout="column">
                  
                   
                </div>
                
                </div>
              
                <div fxLayout="row">
                  <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%;" fxLayoutGap="20px">
                    <table mat-table [dataSource]="dataSource" class="table_ext">
                      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                        <td mat-cell *matCellDef="let element" contenteditable="true" class="tble_data"> {{element[column]}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <button mat-flat-button class="addrow-II" (click)="add()">+</button>
                  </div>
                  <button mat-flat-button class="addrow" (click)="add()">+</button>
                </div>

              </mat-card>
            </div>
         
        <!-- </form> -->
      </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="" fxFlex="100" fxLayoutGap="4px" style="margin-top: 23px;background: white;">
        <div fxFlex="33"></div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="0px">
          <button mat-flat-button class="previous" (click)="previousbtn()">
            <img class="previousimg" src="../../assets/images/previous.svg">
            Previous</button>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="0px" style="margin-left:-20px">
          <button mat-flat-button class="next" (click)="nextbtn()">Next
            <img class="nextimg" src="../../assets/images/next.svg">
          </button>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px">
          <button mat-flat-button class="clear" (click)="ClearAll()"> Clear
            <img class="clearimg" src="../../assets/images/clear.svg">
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxLayoutGap="5px" style="margin-left:-38px">
          <button mat-flat-button class="draft" (click)="ClearAll()"> Save as Draft
            <img class="draftimg" src="../../assets/images/bi.png">
          </button>
        </div>
        <!-- [disabled]="MIform.required.invalid" -->
        <button mat-raised-button class="savebtn" (click)="saveBusinessInfo()" >Save & Next</button>
      </div>
      <br>
    
    <!-- <mat-progress-spinner *ngIf=" isProgressBarVisibile" class="progressBarPostion"   mode="determinate" value="40">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile"></div> -->
  </div>

    