@import "src/@fuse/scss/fuse";

#dashboard {
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }

  .center {
    padding: 5px !important;
  }

  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
  }

  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .semiBoldClass {
    font-weight: 500;
  }

  .subTitle {
    @extend .semiBoldClass;
    font-size: 14px;
    text-decoration: var(--textDec);
  }

  // .tableData {
  //   overflow: auto;
  //   height: 60vh !important;
  //   min-height: 60vh !important;
  //   // max-height: 33vh !important;
  //   .table {
  //     width: 150vw;
  //     max-width: 100%;
  //     overflow: auto;
  //     margin-bottom: 10px;
  //     display: table;
  //     border-collapse: collapse;
  //     margin: 0px;
  //     // background-color: rgb(238, 238, 238);
  //   }
  //   .row,
  //   .header-row {
  //     display: table-row;
  //     min-height: 36px !important;
  //   }
  //   .mat-row:hover {
  //     background-color: lightgrey;
  //   }
  //   .cell,
  //   .header-cell {
  //     word-wrap: initial;
  //     display: table-cell;
  //     padding: 0px 5px;
  //     line-break: unset;
  //     width: fit-content;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     vertical-align: middle;
  //     text-align: center;
  //   }
  //   .header-row,
  //   .header-cell {
  //     margin: 0 auto;
  //     min-height: 100px !important;
  //     text-align: center;
  //     vertical-align: middle;
  //     align-self: center;
  //   }
  //   .mat-card {
  //     min-width: max-content;
  //     max-width: max-content;
  //   }
  //   .sort-header {
  //     display: flex;
  //     align-content: center;
  //     text-align: center;
  //     justify-content: center;
  //     font-size: 12pt;
  //   }
  //   .header-cell {
  //     font-weight: bold;
  //   }
  // }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    // th {
    //   @include TableBorderRight(#e0e0e0);
    //   @extend .TablePadFont;
    //   // color: white;
    //   // background-color: #121214;
    // }

    // td {
    //   @include TableBorderRight(#ffffff);
    //   @extend .TablePadFont;
    //   font-size: 12px;
    //   min-width: max-content !important;
    // }

    tr {
      height: 40px;
    }

    .mat-input-element:disabled {
      color: gray !important;
      background: whitesmoke !important;
      cursor: not-allowed !important;
    }
  }

  .whiteBg {
    background-color: white !important;
  }

  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }
}

.background {
  background-color: white;
}

.personal {
  font-family: "Poppins-Regular";
  color: #1055A0;
  padding-top: 3%;
  // padding-left: 17%;
  font-size: 23px;
  position: fixed;
  margin-right: 5%;
}

.information {
  font-family: "Poppins-Regular";
  color: #1055A0;
  padding-top: 5%;
  // padding-left: 19%;
  font-size: 23px;
  position: fixed;
  padding-left: 24px;
  margin-right: 5%;
}

.image {

  width: 14%;
  position: fixed;
  padding-top: 8%;
  padding-left: 2%;
  margin-top: 1%;
}

.mins {
  font-size: 23px;
  margin-right: -40px;
  font-weight: 500;
  position: fixed;
  // margin-left: -6%;
  margin-top: 21%;
}
::ng-deep div.mat-form-field-outline-start{
  border-color: 0 !important;
  border-width: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
  background-color: #f1f1f5;
}
// input.mat-input-element {
//  // color: white;
//   // background-color: #c9c3d8;
// }
.aa{
  border-width:0px !important;
border:none !important;
outline:none !important;
}
input:focus{
border: none !important;
}
input:focus {
  border: none !important;
}
.inputdivision{
  background-color: #f4f4f4;
  height: 32px;
  border-radius: 4px;
}
.inputform{
  color: #0d0c22;
    font-size: 14px;
    width: 100%;
    margin-left: 18px;
    margin-top: 25px;
    // padding-left: 23px;
    line-height: 3.5;
    border: none;
    background: #f1f1f5 !important;
}
.inputform:focus{
outline: none;
}
.inputform::placeholder{
font-size: 10px !important;
// font-family: 'poppins-semi' !important;
color: #acacac !important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.personal {
    font-family: "Poppins-Regular";
    color: #1055A0;
    padding-top: 3%;
    // padding-left: 17%;
    font-size: 23px;
    position: fixed;
  }
  
  .information {
    font-family: "Poppins-Regular";
    color: #1055A0;
    padding-top: 5%;
    // padding-left: 19%;
    font-size: 23px;
    position: fixed;
    padding-left: 24px;
  }
  
  .image {
  
    width: 15%;
    position: fixed;
    padding-top: 8%;
    padding-left: 2%;
  }
  
  .mins {
    font-family: "Poppins-Regular";
    font-size: 25px;
    font-weight: bolder;
    position: fixed;
    margin-right: 5%;
    margin-top: 23%;

  }
  .avg {
    font-size: 16px;
    position: fixed;
    opacity: 0.6;
    margin-top: 25.5%;
    margin-left: 47px;
    color: grey;
  
  }
  
  .progress {
    width: 16%;
    position: fixed;
    margin-top: 28%;
    margin-left: 6%;
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #90b645 !important;
  }
  
  .percent {
    padding: 1%;
    position: fixed;
    font-size: 14px;
    margin-top: 28.5%;
    margin-right: 8%;
    color: #90b645;
  }
  .jkc {
    width: 14%;
  position: fixed;
  // margin-left: 1%;
  padding-top: 33%
  }
  .label1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bolder;
      padding-top: 44px;
  }
  .labell1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 44px;
    margin-left: 5%;
}
  .label2{
    font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bolder;
      padding-top: 15px;
  }
  .label3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 15px;
    padding-left: 34px;
    padding-right: 69px;
  }
  .label4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 15px;
    // padding-left: 34px;
    // padding-right: 69px;
  }
  .label5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 15px;
    padding-left: 62px;
    padding-right: 69px;
  }
  .desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    padding-right: 104px;
    margin-top: 5px;

    
  }
  .descc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    margin-left: 6%;
    margin-top: 5px;
    
  }
  .desc1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    // padding-right: 104px;
    margin-top: 6px;
  }
  .forminput{
    width: 100%;
    margin-top: 30px !important;
  }
  .forminput1{
    width: 100%;
    // margin-top: 5px !important;
  }
  .errorn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
    background-color:   rgb(243, 243, 246);
    // background-color: #c9c3d8;
  }
  input.mat-input-element {
    color: black;
    // background-color: #c9c3d8;
  }
  
  .form1{
    background-color: #b8b8d4;
    width: 100%;
    margin-top: 26px;
    height: 450px;
}
table {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #d7d7f8 !important;
}
.mat-header-cell{
   font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.mat-column-sale {
  border-right: 1px solid  #bda6ec !important;
  border-color: #b8b8d4;
  // font-weight:bolder;
  text-align: left;
 
}
.mat-column-apr {
  border-right: 1px solid  #bda6ec !important;
  border-color:#b8b8d4;
  text-align: center;
  
}
.mat-column-may {
  border-right: 1px solid  #bda6ec !important;
  border-color: #b8b8d4;
  text-align: center;
}
.cell{
 font-weight: 100;
}
.addrow{
  width: 21%;
    background-color: #dfe9ff;
    height: 40px !important;
    margin-left: 11px;
    border-radius: 6px;
    font-size: 40px;
    font-weight: normal;
    color: rgb(0, 73, 156);
}
.previousimg {
  width: 13%;
    cursor: pointer;
    margin-bottom: 2px;
   
}

.previous {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;
  margin-left: 34px;
}

.next {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;
  margin-left: 57px;
}

.nextimg {
  // margin-top: 36px;
  width: 18%;
  cursor: pointer;
  margin-bottom: 2px;
}

.clear {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  background-color: white !important;
  color: #8e8f92 !important;
  margin-left: 35px;
}

.clearimg {
  // margin-top: 36px;
  width: 24%;
  cursor: pointer;
  margin-bottom: 2px;
}
.savebtn {
  margin-top: 35px;
  width: 30%;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #1055A0 !important;
  color: white !important;
}
.turn{
  margin-top: 15%;
}